In [7]:
import json
import pandas as pd
import numpy as np
import csv
import random
import matplotlib.pyplot as plt
import seaborn as sns
from joypy import joyplot
from matplotlib.cm import viridis
import plotly.express as px
import torch
from transformers import T5Tokenizer, T5ForConditionalGeneration, Trainer, TrainingArguments
from datasets import Dataset

WARNING:tensorflow:From c:\Users\minhv\anaconda3\envs\pytorch-env\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [8]:
# import kagglehub
# path = kagglehub.dataset_download("meryentr/text-to-sql")
# print("Path to dataset files:", path)

In [9]:
# import kagglehub
# path = kagglehub.dataset_download("mohammadnouralawad/spider-text-sql")
# print("Path to dataset files:", path)

In [10]:
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\syllable-level\dev.json", "r", encoding="utf-8") as f1:
    data1 = json.load(f1)
DF_s1 = pd.DataFrame(data1)
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\syllable-level\tables.json", "r", encoding="utf-8") as f2:
    data2 = json.load(f2)
DF_s2 = pd.DataFrame(data2)
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\syllable-level\test.json", "r", encoding="utf-8") as f3:
    data3 = json.load(f3)
DF_s3 = pd.DataFrame(data3)
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\syllable-level\train.json", "r", encoding="utf-8") as f4:
    data4 = json.load(f4)
DF_s4 = pd.DataFrame(data4)
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\word-level\dev.json", "r", encoding="utf-8") as f5:
    data5 = json.load(f5)
DF_w1 = pd.DataFrame(data5)
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\word-level\tables.json", "r", encoding="utf-8") as f6:
    data6 = json.load(f6)
DF_w2 = pd.DataFrame(data6)
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\word-level\test.json", "r", encoding="utf-8") as f7:
    data7 = json.load(f7)
DF_w3 = pd.DataFrame(data7)
with open(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\ViText2SQL-master\ViText2SQL-master\data\word-level\train.json", "r", encoding="utf-8") as f8:
    data8 = json.load(f8)
DF_w4 = pd.DataFrame(data8)

In [11]:
DFSQL2 = pd.read_csv(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\T2SQL2\spider_text_sql.csv")
DFSQL1 = pd.read_csv(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\T2SQL1\train.csv")
DFSQL1

,Unnamed: 0,question,query,schema
0,0,What is the total number of addresses for each...,"SELECT country, state_province_county, COUNT(*...",\nCREATE TABLE addresses (\n\taddress_id INTEG...
1,1,Find all addresses in the United States that d...,SELECT * FROM addresses WHERE country = 'Unite...,\nCREATE TABLE addresses (\n\taddress_id INTEG...
2,2,What is the count of addresses in Europe by ci...,"SELECT city, COUNT(*) AS address_count FROM ad...",\nCREATE TABLE addresses (\n\taddress_id INTEG...
3,3,"Get a list of all countries, along with the nu...","SELECT country, COUNT(*) AS address_count FROM...",\nCREATE TABLE addresses (\n\taddress_id INTEG...
4,4,What is the total number of addresses for each...,"SELECT city, COUNT(*) AS total_addresses FROM ...",\nCREATE TABLE addresses (\n\taddress_id INTEG...
...,...,...,...,...
65349,79952,What are the languages spoken in the country o...,SELECT language FROM countrylanguage WHERE cou...,"\nCREATE TABLE city (\n\tcity_id INTEGER, \n\t..."
65350,79953,What is the city with the highest GDP in the S...,"SELECT city, gdp FROM city WHERE hanzi LIKE 'S...","\nCREATE TABLE city (\n\tcity_id INTEGER, \n\t..."
65351,79955,What is the average population of cities in th...,SELECT AVG(regional_population) FROM city WHER...,"\nCREATE TABLE city (\n\tcity_id INTEGER, \n\t..."
65352,79956,Which country has the highest GDP among countr...,"SELECT country_name, SUM(gdp) AS total_gdp FRO...","\nCREATE TABLE city (\n\tcity_id INTEGER, \n\t..."
65353,79957,What are the total number of matches played by...,"SELECT p.first_name, p.last_name, COUNT(*) AS ...","\nCREATE TABLE matches (\n\tbest_of INTEGER, \..."

In [12]:
DF1 = pd.concat([DF_s1, DF_s3, DF_s4, DF_w1, DF_w3, DF_w4], axis=0)
DF1

,db_id,query,query_toks,query_toks_no_value,question,question_toks,sql
0,architecture,select count ( * ) from kiến trúc sư where giớ...,"[select, count, (, *, ), from, kiến trúc sư, w...","[select, count, (, *, ), from, kiến trúc sư, w...",Có tất cả bao nhiêu kiến trúc sư nữ ?,"[Có, tất, cả, bao, nhiêu, kiến, trúc, sư, nữ, ?]","{'except': None, 'from': {'conds': [], 'table_..."
1,architecture,"select tên , quốc tịch , id from kiến trúc sư ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","Liệt kê tên , quốc tịch và id của tất cả các k...","[Liệt, kê, tên, ,, quốc, tịch, và, id, của, tấ...","{'except': None, 'from': {'conds': [], 'table_..."
2,architecture,"select max ( t1.chiều dài theo mét ) , t2.tên ...","[select, max, (, t1.chiều dài theo mét, ), ,, ...","[select, max, (, t1, ., chiều dài theo mét, ),...",Cho biết tên của người kiến trúc sư đã tạo ra ...,"[Cho, biết, tên, của, người, kiến, trúc, sư, đ...","{'except': None, 'from': {'conds': [[False, 2,..."
3,architecture,select avg ( chiều dài theo feet ) from cầu,"[select, avg, (, chiều dài theo feet, ), from,...","[select, avg, (, chiều dài theo feet, ), from,...",Cho biết chiều dài trung bình tính theo feet c...,"[Cho, biết, chiều, dài, trung, bình, tính, the...","{'except': None, 'from': {'conds': [], 'table_..."
4,architecture,"select tên , năm xây dựng from nhà máy where l...","[select, tên, ,, năm xây dựng, from, nhà máy, ...","[select, tên, ,, năm xây dựng, from, nhà máy, ...",Cho biết tên và năm xây dựng của các nhà máy t...,"[Cho, biết, tên, và, năm, xây, dựng, của, các,...","{'except': None, 'from': {'conds': [], 'table_..."
...,...,...,...,...,...,...,...
6826,wrestler,select đội from lần bị loại where bị loại bởi ...,"[select, đội, from, lần bị loại, where, bị loạ...","[select, đội, from, lần bị loại, where, bị loạ...",Những đội có các đô_vật bị loại bởi ' Orton ' ...,"[Những, đội, có, các, đô_vật, bị, loại, bởi, '...","{'except': None, 'from': {'conds': [], 'table_..."
6827,wrestler,select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Những đô_vật đã bị loại đại_diện cho tất_cả ba...,"[Những, đô_vật, đã, bị, loại, đại_diện, cho, t...","{'except': None, 'from': {'conds': [], 'table_..."
6828,wrestler,select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Có bao_nhiêu đội khác nhau có thành_viên là cá...,"[Có, bao_nhiêu, đội, khác, nhau, có, thành_viê...","{'except': None, 'from': {'conds': [], 'table_..."
6829,wrestler,select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Những đô_vật đã bị loại bởi ' Punk ' hoặc ' Or...,"[Những, đô_vật, đã, bị, loại, bởi, ', Punk, ',...","{'except': None, 'from': {'conds': [], 'table_..."
6830,wrestler,select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Cho biết thời_gian bị loại của các đô_vật bị l...,"[Cho, biết, thời_điểm, bị, loại, của, các, đô_...","{'except': None, 'from': {'conds': [], 'table_..."

In [13]:
DF1.reset_index(level=0, inplace=True)
DF1

,index,db_id,query,query_toks,query_toks_no_value,question,question_toks,sql
0,0,architecture,select count ( * ) from kiến trúc sư where giớ...,"[select, count, (, *, ), from, kiến trúc sư, w...","[select, count, (, *, ), from, kiến trúc sư, w...",Có tất cả bao nhiêu kiến trúc sư nữ ?,"[Có, tất, cả, bao, nhiêu, kiến, trúc, sư, nữ, ?]","{'except': None, 'from': {'conds': [], 'table_..."
1,1,architecture,"select tên , quốc tịch , id from kiến trúc sư ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","Liệt kê tên , quốc tịch và id của tất cả các k...","[Liệt, kê, tên, ,, quốc, tịch, và, id, của, tấ...","{'except': None, 'from': {'conds': [], 'table_..."
2,2,architecture,"select max ( t1.chiều dài theo mét ) , t2.tên ...","[select, max, (, t1.chiều dài theo mét, ), ,, ...","[select, max, (, t1, ., chiều dài theo mét, ),...",Cho biết tên của người kiến trúc sư đã tạo ra ...,"[Cho, biết, tên, của, người, kiến, trúc, sư, đ...","{'except': None, 'from': {'conds': [[False, 2,..."
3,3,architecture,select avg ( chiều dài theo feet ) from cầu,"[select, avg, (, chiều dài theo feet, ), from,...","[select, avg, (, chiều dài theo feet, ), from,...",Cho biết chiều dài trung bình tính theo feet c...,"[Cho, biết, chiều, dài, trung, bình, tính, the...","{'except': None, 'from': {'conds': [], 'table_..."
4,4,architecture,"select tên , năm xây dựng from nhà máy where l...","[select, tên, ,, năm xây dựng, from, nhà máy, ...","[select, tên, ,, năm xây dựng, from, nhà máy, ...",Cho biết tên và năm xây dựng của các nhà máy t...,"[Cho, biết, tên, và, năm, xây, dựng, của, các,...","{'except': None, 'from': {'conds': [], 'table_..."
...,...,...,...,...,...,...,...,...
19381,6826,wrestler,select đội from lần bị loại where bị loại bởi ...,"[select, đội, from, lần bị loại, where, bị loạ...","[select, đội, from, lần bị loại, where, bị loạ...",Những đội có các đô_vật bị loại bởi ' Orton ' ...,"[Những, đội, có, các, đô_vật, bị, loại, bởi, '...","{'except': None, 'from': {'conds': [], 'table_..."
19382,6827,wrestler,select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Những đô_vật đã bị loại đại_diện cho tất_cả ba...,"[Những, đô_vật, đã, bị, loại, đại_diện, cho, t...","{'except': None, 'from': {'conds': [], 'table_..."
19383,6828,wrestler,select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Có bao_nhiêu đội khác nhau có thành_viên là cá...,"[Có, bao_nhiêu, đội, khác, nhau, có, thành_viê...","{'except': None, 'from': {'conds': [], 'table_..."
19384,6829,wrestler,select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Những đô_vật đã bị loại bởi ' Punk ' hoặc ' Or...,"[Những, đô_vật, đã, bị, loại, bởi, ', Punk, ',...","{'except': None, 'from': {'conds': [], 'table_..."
19385,6830,wrestler,select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Cho biết thời_gian bị loại của các đô_vật bị l...,"[Cho, biết, thời_điểm, bị, loại, của, các, đô_...","{'except': None, 'from': {'conds': [], 'table_..."

In [14]:
DF1.drop(DF1.columns[0], axis=1, inplace=True)
DF1

,db_id,query,query_toks,query_toks_no_value,question,question_toks,sql
0,architecture,select count ( * ) from kiến trúc sư where giớ...,"[select, count, (, *, ), from, kiến trúc sư, w...","[select, count, (, *, ), from, kiến trúc sư, w...",Có tất cả bao nhiêu kiến trúc sư nữ ?,"[Có, tất, cả, bao, nhiêu, kiến, trúc, sư, nữ, ?]","{'except': None, 'from': {'conds': [], 'table_..."
1,architecture,"select tên , quốc tịch , id from kiến trúc sư ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","Liệt kê tên , quốc tịch và id của tất cả các k...","[Liệt, kê, tên, ,, quốc, tịch, và, id, của, tấ...","{'except': None, 'from': {'conds': [], 'table_..."
2,architecture,"select max ( t1.chiều dài theo mét ) , t2.tên ...","[select, max, (, t1.chiều dài theo mét, ), ,, ...","[select, max, (, t1, ., chiều dài theo mét, ),...",Cho biết tên của người kiến trúc sư đã tạo ra ...,"[Cho, biết, tên, của, người, kiến, trúc, sư, đ...","{'except': None, 'from': {'conds': [[False, 2,..."
3,architecture,select avg ( chiều dài theo feet ) from cầu,"[select, avg, (, chiều dài theo feet, ), from,...","[select, avg, (, chiều dài theo feet, ), from,...",Cho biết chiều dài trung bình tính theo feet c...,"[Cho, biết, chiều, dài, trung, bình, tính, the...","{'except': None, 'from': {'conds': [], 'table_..."
4,architecture,"select tên , năm xây dựng from nhà máy where l...","[select, tên, ,, năm xây dựng, from, nhà máy, ...","[select, tên, ,, năm xây dựng, from, nhà máy, ...",Cho biết tên và năm xây dựng của các nhà máy t...,"[Cho, biết, tên, và, năm, xây, dựng, của, các,...","{'except': None, 'from': {'conds': [], 'table_..."
...,...,...,...,...,...,...,...
19381,wrestler,select đội from lần bị loại where bị loại bởi ...,"[select, đội, from, lần bị loại, where, bị loạ...","[select, đội, from, lần bị loại, where, bị loạ...",Những đội có các đô_vật bị loại bởi ' Orton ' ...,"[Những, đội, có, các, đô_vật, bị, loại, bởi, '...","{'except': None, 'from': {'conds': [], 'table_..."
19382,wrestler,select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Những đô_vật đã bị loại đại_diện cho tất_cả ba...,"[Những, đô_vật, đã, bị, loại, đại_diện, cho, t...","{'except': None, 'from': {'conds': [], 'table_..."
19383,wrestler,select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Có bao_nhiêu đội khác nhau có thành_viên là cá...,"[Có, bao_nhiêu, đội, khác, nhau, có, thành_viê...","{'except': None, 'from': {'conds': [], 'table_..."
19384,wrestler,select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Những đô_vật đã bị loại bởi ' Punk ' hoặc ' Or...,"[Những, đô_vật, đã, bị, loại, bởi, ', Punk, ',...","{'except': None, 'from': {'conds': [], 'table_..."
19385,wrestler,select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Cho biết thời_gian bị loại của các đô_vật bị l...,"[Cho, biết, thời_điểm, bị, loại, của, các, đô_...","{'except': None, 'from': {'conds': [], 'table_..."

In [15]:
DF1[DF1['db_id'].isnull()]

Empty DataFrame
Columns: [db_id, query, query_toks, query_toks_no_value, question, question_toks, sql]
Index: []

In [16]:
DF1[DF1['query'].isnull()]

Empty DataFrame
Columns: [db_id, query, query_toks, query_toks_no_value, question, question_toks, sql]
Index: []

In [17]:
DF1[DF1['query_toks'].isnull()]

Empty DataFrame
Columns: [db_id, query, query_toks, query_toks_no_value, question, question_toks, sql]
Index: []

In [18]:
DF1[DF1['query_toks_no_value'].isnull()]

Empty DataFrame
Columns: [db_id, query, query_toks, query_toks_no_value, question, question_toks, sql]
Index: []

In [19]:
DF1[DF1['question'].isnull()]

Empty DataFrame
Columns: [db_id, query, query_toks, query_toks_no_value, question, question_toks, sql]
Index: []

In [20]:
DF1[DF1['question_toks'].isnull()]

Empty DataFrame
Columns: [db_id, query, query_toks, query_toks_no_value, question, question_toks, sql]
Index: []

In [21]:
DF1[DF1['sql'].isnull()]

Empty DataFrame
Columns: [db_id, query, query_toks, query_toks_no_value, question, question_toks, sql]
Index: []

In [22]:
DF1.sort_values(by='db_id', ascending=True)

,db_id,query,query_toks,query_toks_no_value,question,question_toks,sql
2891,academic,select t3.tiêu đề from viết as t2 join tác giả...,"[select, t3.tiêu đề, from, viết, as, t2, join,...","[select, t3, ., tiêu đề, from, viết, as, t2, j...",những bài báo nào đã được viết bởi H. V. Jagad...,"[những, bài, báo, nào, đã, được, viết, bởi, H....","{'except': None, 'from': {'conds': [[False, 2,..."
3039,academic,select t1.tên from bài báo as t4 join hội nghị...,"[select, t1.tên, from, bài báo, as, t4, join, ...","[select, t1, ., tên, from, bài báo, as, t4, jo...",liệt kê các tác giả có hơn 10 bài báo được đăn...,"[liệt, kê, các, tác, giả, có, hơn, 10, bài, bá...","{'except': None, 'from': {'conds': [[False, 2,..."
3040,academic,select t1.tên from bài báo as t4 join hội nghị...,"[select, t1.tên, from, bài báo, as, t4, join, ...","[select, t1, ., tên, from, bài báo, as, t4, jo...",tác giả nào có nhiều bài báo tại hội nghị VLDB...,"[tác, giả, nào, có, nhiều, bài, báo, tại, hội,...","{'except': None, 'from': {'conds': [[False, 2,..."
3041,academic,select t1.tên from tổ chức as t2 join tác giả ...,"[select, t1.tên, from, tổ chức, as, t2, join, ...","[select, t1, ., tên, from, tổ chức, as, t2, jo...",những tác giả nào thuộc ' Đại học Michigan ' đ...,"[những, tác, giả, nào, thuộc, ', Đại, học, Mic...","{'except': None, 'from': {'conds': [[False, 2,..."
3042,academic,select t1.tên from lĩnh vực của tác giả as t6 ...,"[select, t1.tên, from, lĩnh vực của tác giả, a...","[select, t1, ., tên, from, lĩnh vực của tác gi...",liệt kê các tác giả thuộc ' Đại học Michigan '...,"[liệt, kê, các, tác, giả, thuộc, ', Đại, học, ...","{'except': None, 'from': {'conds': [[False, 2,..."
...,...,...,...,...,...,...,...
12536,yelp,select count ( distinct t1.tên ) from loại_hìn...,"[select, count, (, distinct, t1.tên, ), from, ...","[select, count, (, distinct, t1, ., tên, ), fr...",có bao_nhiêu doanh_nghiệp có loại_hình kinh_do...,"[có, bao_nhiêu, doanh_nghiệp, có, loại_hình, k...","{'except': None, 'from': {'conds': [[False, 2,..."
12535,yelp,select count ( distinct tên ) from người tiêu_...,"[select, count, (, distinct, tên, ), from, ngư...","[select, count, (, distinct, tên, ), from, ngư...",cho biết số_lượng người dùng có tên là Michelle .,"[cho, biết, số_lượng, người, dùng, có, tên, là...","{'except': None, 'from': {'conds': [], 'table_..."
12554,yelp,select t1.tên from loại_hình as t2 join doanh_...,"[select, t1.tên, from, loại_hình, as, t2, join...","[select, t1, ., tên, from, loại_hình, as, t2, ...",doanh_nghiệp nào đang theo nhiều loại_hình kin...,"[doanh_nghiệp, nào, đang, theo, nhiều, loại_hì...","{'except': None, 'from': {'conds': [[False, 2,..."
12540,yelp,select count ( distinct văn_bản ) from đánh_gi...,"[select, count, (, distinct, văn_bản, ), from,...","[select, count, (, distinct, văn_bản, ), from,...",cho biết số_lượng đánh_giá được viết vào tháng...,"[cho, biết, số_lượng, đánh_giá, được, viết, và...","{'except': None, 'from': {'conds': [], 'table_..."
12553,yelp,select t1.tên from đánh_giá as t2 join doanh_n...,"[select, t1.tên, from, đánh_giá, as, t2, join,...","[select, t1, ., tên, from, đánh_giá, as, t2, j...",doanh_nghiệp nào nhận được nhiều đánh_giá nhất...,"[doanh_nghiệp, nào, nhận, được, nhiều, đánh_gi...","{'except': None, 'from': {'conds': [[False, 2,..."

In [23]:
DF_db_id = DF1['db_id']
list_db_id = list(DF_db_id.drop_duplicates())
print(list_db_id)
print(len(list_db_id))

['architecture', 'cinema', 'college_3', 'concert_singer', 'customers_campaigns_ecommerce', 'customers_card_transactions', 'document_management', 'e_learning', 'farm', 'flight_company', 'manufacturer', 'museum_visit', 'network_1', 'party_host', 'phone_market', 'product_catalog', 'scientist_1', 'ship_mission', 'singer', 'sports_competition', 'swimming', 'tracking_share_transactions', 'train_station', 'voter_1', 'wta_1', 'assets_maintenance', 'book_2', 'company_1', 'course_teach', 'decoration_competition', 'election_representative', 'match_season', 'perpetrator', 'station_weather', 'wedding', 'activity_1', 'body_builder', 'candidate_poll', 'city_record', 'college_1', 'cre_Doc_Control_Systems', 'cre_Drama_Workshop_Groups', 'customers_and_invoices', 'customers_and_products_contacts', 'department_management', 'driving_school', 'employee_hire_evaluation', 'flight_2', 'game_injury', 'imdb', 'insurance_and_eClaims', 'local_govt_in_alabama', 'machine_repair', 'mountain_photos', 'music_2', 'products_for_hire', 'restaurant_1', 'sakila_1', 'school_bus', 'school_player', 'soccer_1', 'store_product', 'storm_record', 'student_1', 'student_assessment', 'workshop_paper', 'yelp', 'academic', 'aircraft', 'allergy_1', 'apartment_rentals', 'baseball_1', 'battle_death', 'behavior_monitoring', 'bike_1', 'browser_web', 'car_1', 'chinook_1', 'climbing', 'club_1', 'coffee_shop', 'college_2', 'company_employee', 'company_office', 'county_public_safety', 'cre_Doc_Template_Mgt', 'cre_Doc_Tracking_DB', 'cre_Docs_and_Epenses', 'cre_Theme_park', 'csu_1', 'culture_company', 'customer_complaints', 'customer_deliveries', 'customers_and_addresses', 'debate', 'department_store', 'device', 'dog_kennels', 'dorm_1', 'e_government', 'election', 'entertainment_awards', 'entrepreneur', 'epinions_1', 'film_rank', 'flight_1', 'flight_4', 'formula_1', 'game_1', 'gas_company', 'geo', 'gymnast', 'hospital_1', 'hr_1', 'icfp_1', 'inn_1', 'insurance_fnol', 'insurance_policies', 'journal_committee', 'loan_1', 'local_govt_and_lot', 'local_govt_mdm', 'manufactory_1', 'medicine_enzyme_interaction', 'movie_1', 'music_1', 'music_4', 'musical', 'network_2', 'news_report', 'orchestra', 'party_people', 'performance_attendance', 'pets_1', 'phone_1', 'pilot_record', 'poker_player', 'products_gen_characteristics', 'program_share', 'protein_institute', 'race_track', 'railway', 'real_estate_properties', 'restaurants', 'riding_club', 'roller_coaster', 'scholar', 'school_finance', 'ship_1', 'shop_membership', 'small_bank_1', 'soccer_2', 'solvency_ii', 'store_1', 'student_transcripts_tracking', 'theme_gallery', 'tracking_grants_for_research', 'tracking_orders', 'tracking_software_problems', 'tvshow', 'twitter_1', 'university_basketball', 'voter_2', 'wine_1', 'world_1', 'wrestler']
166

In [24]:
DF3 = pd.DataFrame(list_db_id)
DF3

                                 0
0                     architecture
1                           cinema
2                        college_3
3                   concert_singer
4    customers_campaigns_ecommerce
..                             ...
161          university_basketball
162                        voter_2
163                         wine_1
164                        world_1
165                       wrestler

[166 rows x 1 columns]

In [25]:
EVNtitle = pd.read_csv(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\E-VN title\Chu de English - VNM.txt")
DF2 = pd.DataFrame(EVNtitle)
DF2

,col1,col2
0,architecture,"Kiến trúc, Xây dựng, Công trình"
1,cinema,"Rạp chiếu phim, Điện ảnh, Phim trường"
2,college_3,"Trường cao đẳng 3, Đại học, Học viện"
3,concert_singer,"Ca sĩ biểu diễn, Nghệ sĩ, Nhạc công"
4,customers_campaigns_ecommerce,"Chiến dịch khách hàng thương mại điện tử, Tiếp..."
...,...,...
161,university_basketball,"Bóng rổ đại học, Giải đấu sinh viên, Trận đấu ..."
162,voter_2,"Cử tri 2, Người bỏ phiếu, Quyền bầu cử"
163,wine_1,"Rượu vang 1, Đồ uống có cồn, Nho ủ"
164,world_1,"Thế giới 1, Địa cầu, Toàn cầu hóa"
165,wrestler,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng"

In [26]:
DF2.reset_index(level=0, inplace=True)

In [27]:
DF2

,index,col1,col2
0,0,architecture,"Kiến trúc, Xây dựng, Công trình"
1,1,cinema,"Rạp chiếu phim, Điện ảnh, Phim trường"
2,2,college_3,"Trường cao đẳng 3, Đại học, Học viện"
3,3,concert_singer,"Ca sĩ biểu diễn, Nghệ sĩ, Nhạc công"
4,4,customers_campaigns_ecommerce,"Chiến dịch khách hàng thương mại điện tử, Tiếp..."
...,...,...,...
161,161,university_basketball,"Bóng rổ đại học, Giải đấu sinh viên, Trận đấu ..."
162,162,voter_2,"Cử tri 2, Người bỏ phiếu, Quyền bầu cử"
163,163,wine_1,"Rượu vang 1, Đồ uống có cồn, Nho ủ"
164,164,world_1,"Thế giới 1, Địa cầu, Toàn cầu hóa"
165,165,wrestler,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng"

In [28]:
def remove_numeric(text):
    parts = text.split(",")
    cleaned_parts = []
    for part in parts:
        words = part.split()
        words = [w for w in words if not w.isnumeric()]
        cleaned_parts.append(" ".join(words))
    return ", ".join(cleaned_parts)
DF2['col2'] = DF2['col2'].apply(remove_numeric)

DF2

,index,col1,col2
0,0,architecture,"Kiến trúc, Xây dựng, Công trình"
1,1,cinema,"Rạp chiếu phim, Điện ảnh, Phim trường"
2,2,college_3,"Trường cao đẳng, Đại học, Học viện"
3,3,concert_singer,"Ca sĩ biểu diễn, Nghệ sĩ, Nhạc công"
4,4,customers_campaigns_ecommerce,"Chiến dịch khách hàng thương mại điện tử, Tiếp..."
...,...,...,...
161,161,university_basketball,"Bóng rổ đại học, Giải đấu sinh viên, Trận đấu ..."
162,162,voter_2,"Cử tri, Người bỏ phiếu, Quyền bầu cử"
163,163,wine_1,"Rượu vang, Đồ uống có cồn, Nho ủ"
164,164,world_1,"Thế giới, Địa cầu, Toàn cầu hóa"
165,165,wrestler,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng"

In [29]:
DF1.insert(column= 'db_id_vn', loc= 1, value=np.nan)

In [30]:
DF1['db_id_vn'] = DF1['db_id']

In [31]:
result = DF2.set_index('col1')['col2'].to_dict()
result

{'architecture': 'Kiến trúc, Xây dựng, Công trình',
 'cinema': 'Rạp chiếu phim, Điện ảnh, Phim trường',
 'college_3': 'Trường cao đẳng, Đại học, Học viện',
 'concert_singer': 'Ca sĩ biểu diễn, Nghệ sĩ, Nhạc công',
 'customers_campaigns_ecommerce': 'Chiến dịch khách hàng thương mại điện tử, Tiếp thị trực tuyến, Kinh doanh số',
 'customers_card_transactions': 'Giao dịch thẻ khách hàng, Thanh toán điện tử, Thẻ tín dụng',
 'document_management': 'Quản lý tài liệu, Hồ sơ, Lưu trữ dữ liệu',
 'e_learning': 'Học trực tuyến, Giáo dục trực tuyến, Khóa học online',
 'farm': 'Nông trại, Trang trại, Canh tác',
 'flight_company': 'Hãng hàng không, Công ty hàng không, Vận tải hàng không',
 'manufacturer': 'Nhà sản xuất, Doanh nghiệp, Công ty chế tạo',
 'museum_visit': 'Tham quan bảo tàng, Du lịch bảo tàng, Khám phá di sản',
 'network_1': 'Mạng lưới, Hệ thống kết nối, Internet',
 'party_host': 'Chủ trì tiệc, Người tổ chức sự kiện, Chủ tiệc',
 'phone_market': 'Thị trường điện thoại, Kinh doanh di động, Buôn bán điện thoại',
 'product_catalog': 'Danh mục sản phẩm, Bộ sưu tập sản phẩm, Hàng hóa',
 'scientist_1': 'Nhà khoa học, Chuyên gia nghiên cứu, Học giả',
 'ship_mission': 'Nhiệm vụ tàu thủy, Hành trình biển, Vận tải đường biển',
 'singer': 'Ca sĩ, Nghệ sĩ hát, Nhạc sĩ',
 'sports_competition': 'Cuộc thi thể thao, Giải đấu, Trận đấu',
 'swimming': 'Bơi lội, Bơi lặn, Môn thể thao dưới nước',
 'tracking_share_transactions': 'Theo dõi giao dịch cổ phiếu, Giám sát chứng khoán, Đầu tư',
 'train_station': 'Ga tàu, Nhà ga, Trạm xe lửa',
 'voter_1': 'Cử tri, Người đi bầu, Công dân bỏ phiếu',
 'wta_1': 'Hiệp hội quần vợt nữ, Giải quần vợt nữ, Liên đoàn tennis nữ',
 'assets_maintenance': 'Bảo trì tài sản, Sửa chữa tài sản, Quản lý tài nguyên',
 'book_2': 'Sách, Tài liệu, Ấn phẩm',
 'company_1': 'Công ty, Doanh nghiệp, Tập đoàn',
 'course_teach': 'Khóa học giảng dạy, Lớp học, Đào tạo',
 'decoration_competition': 'Cuộc thi trang trí, Thiết kế nội thất, Nghệ thuật trang trí',
 'election_representative': 'Đại diện bầu cử, Ứng cử viên, Chính trị gia',
 'match_season': 'Mùa giải đấu, Giải đấu, Mùa giải',
 'perpetrator': 'Thủ phạm, Kẻ gây án, Tội phạm',
 'station_weather': 'Trạm thời tiết, Trung tâm khí tượng, Dự báo thời tiết',
 'wedding': 'Đám cưới, Hôn lễ, Tiệc cưới',
 'activity_1': 'Hoạt động, Sự kiện, Chương trình',
 'body_builder': 'Vận động viên thể hình, Người tập thể hình, Gymer',
 'candidate_poll': 'Thăm dò ứng cử viên, Khảo sát bầu cử, Điều tra dư luận',
 'city_record': 'Hồ sơ thành phố, Thông tin đô thị, Dữ liệu thành phố',
 'college_1': 'Trường cao đẳng, Đại học, Viện giáo dục',
 'cre_Doc_Control_Systems': 'Hệ thống kiểm soát tài liệu, Quản lý hồ sơ, Giám sát tài liệu',
 'cre_Drama_Workshop_Groups': 'Nhóm hội thảo kịch, Lớp diễn xuất, Câu lạc bộ sân khấu',
 'customers_and_invoices': 'Khách hàng và hóa đơn, Đơn hàng, Thanh toán',
 'customers_and_products_contacts': 'Khách hàng và liên hệ sản phẩm, Mối quan hệ khách hàng, Hỗ trợ khách hàng',
 'department_management': 'Quản lý phòng ban, Điều hành bộ phận, Tổ chức công việc',
 'driving_school': 'Trường dạy lái xe, Trung tâm đào tạo lái xe, Học lái ô tô',
 'employee_hire_evaluation': 'Đánh giá tuyển dụng nhân viên, Kiểm tra nhân sự, Tuyển chọn nhân viên',
 'flight_2': 'Chuyến bay, Hành trình hàng không, Vé máy bay',
 'game_injury': 'Chấn thương khi chơi game, Tổn thương thể thao, Tai nạn thi đấu',
 'imdb': 'Cơ sở dữ liệu phim IMDb, Thông tin phim, Xếp hạng điện ảnh',
 'insurance_and_eClaims': 'Bảo hiểm và khiếu nại điện tử, Hợp đồng bảo hiểm, Yêu cầu bồi thường',
 'local_govt_in_alabama': 'Chính quyền địa phương ở Alabama, Cơ quan nhà nước, Quản lý khu vực',
 'machine_repair': 'Sửa chữa máy móc, Bảo trì thiết bị, Kỹ thuật cơ khí',
 'mountain_photos': 'Ảnh núi, Nhiếp ảnh thiên nhiên, Phong cảnh núi non',
 'music_2': 'Âm nhạc, Giai điệu, Nghệ thuật âm thanh',
 'products_for_hire': 'Sản phẩm cho thuê, Dịch vụ cho thuê, Vật dụng thuê mướn',
 'restaurant_1': 'Nhà hàng, Quán ăn, Dịch vụ ẩm thực',
 'sakila_1': 'Cửa hàng, Bộ phim, Địa chỉ, Khách hàng, Thanh toán, Thành phố',
 'school_bus': 'Xe buýt trường học, Phương tiện đưa đón học sinh, Giao thông học đường',
 'school_player': 'Học sinh chơi thể thao, Vận động viên học đường, Đội tuyển trường',
 'soccer_1': 'Bóng đá, Môn thể thao vua, Đội tuyển bóng đá',
 'store_product': 'Sản phẩm cửa hàng, Hàng hóa, Mặt hàng kinh doanh',
 'storm_record': 'Ghi chép bão, Lịch sử thiên tai, Thống kê thời tiết',
 'student_1': 'Sinh viên, Học viên, Học sinh',
 'student_assessment': 'Đánh giá học sinh, Kiểm tra năng lực, Xếp loại học tập',
 'workshop_paper': 'Bài nghiên cứu hội thảo, Tài liệu học thuật, Thảo luận chuyên đề',
 'yelp': 'Trang đánh giá Yelp, Nhận xét nhà hàng, Phản hồi khách hàng',
 'academic': 'Học thuật, Giáo dục, Nghiên cứu',
 'aircraft': 'Máy bay, Phi cơ, Hàng không',
 'allergy_1': 'Dị ứng, Phản ứng miễn dịch, Bệnh dị ứng',
 'apartment_rentals': 'Thuê căn hộ, Chung cư, Nhà cho thuê',
 'baseball_1': 'Bóng chày, Trận đấu bóng chày, Môn thể thao',
 'battle_death': 'Cái chết trong trận chiến, Tử trận, Hy sinh',
 'behavior_monitoring': 'Giám sát hành vi, Theo dõi thói quen, Phân tích hành vi',
 'bike_1': 'Xe đạp, Phương tiện hai bánh, Xe đạp thể thao',
 'browser_web': 'Trình duyệt web, Công cụ tìm kiếm, Truy cập Internet',
 'car_1': 'Xe hơi, Ô tô, Phương tiện giao thông',
 'chinook_1': 'Album, Bài hát, Bản nhạc, Quốc gia, Khách hàng, Nhân viên, Âm nhạc, Nghệ sĩ',
 'climbing': 'Leo núi, Trèo đèo, Môn thể thao mạo hiểm',
 'club_1': 'Câu lạc bộ, Hội nhóm, Tổ chức xã hội',
 'coffee_shop': 'Quán cà phê, Tiệm cà phê, Cửa hàng đồ uống',
 'college_2': 'Trường cao đẳng, Học viện, Đại học',
 'company_employee': 'Nhân viên công ty, Người lao động, Nhân sự',
 'company_office': 'Văn phòng công ty, Trụ sở, Cơ quan',
 'county_public_safety': 'An toàn công cộng quận, Dịch vụ khẩn cấp, Cảnh sát cứu hỏa',
 'cre_Doc_Template_Mgt': 'Tài liệu, Mẫu, Đoạn văn, Văn bản',
 'cre_Doc_Tracking_DB': 'Địa điểm, Tài liệu, Nhân viên, Vai trò',
 'cre_Docs_and_Epenses': 'Tài liệu, Tài khoản, Báo cáo, Ngân sách, Dự án',
 'cre_Theme_park': 'Công viên chủ đề, Khu vui chơi, Công viên giải trí',
 'csu_1': 'Trường, Bằng cấp, Đại học, Học phí, Sinh viên, Giảng viên',
 'culture_company': 'Công ty văn hóa, Doanh nghiệp nghệ thuật, Tổ chức sáng tạo',
 'customer_complaints': 'Khiếu nại khách hàng, Phản hồi tiêu cực, Bảo hành sản phẩm',
 'customer_deliveries': 'Giao hàng cho khách, Vận chuyển đơn hàng, Dịch vụ giao nhận',
 'customers_and_addresses': 'Khách hàng và địa chỉ, Danh sách khách hàng, Thông tin liên hệ',
 'debate': 'Tranh luận, Thảo luận, Đối thoại',
 'department_store': 'Cửa hàng bách hóa, Trung tâm thương mại, Siêu thị',
 'device': 'Thiết bị, Công cụ, Máy móc',
 'dog_kennels': 'Trại chó, Chỗ nuôi chó, Dịch vụ chăm sóc thú cưng',
 'dorm_1': 'Ký túc xá, Nhà ở sinh viên, Chỗ ở tập thể',
 'e_government': 'Chính phủ điện tử, Quản lý số, Công nghệ hành chính',
 'election': 'Bầu cử, Ứng cử, Tranh cử',
 'entertainment_awards': 'Giải thưởng giải trí, Danh hiệu nghệ thuật, Vinh danh',
 'entrepreneur': 'Doanh nhân, Nhà kinh doanh, Người khởi nghiệp',
 'epinions_1': 'Nhận xét ePinions, Đánh giá sản phẩm, Phản hồi khách hàng',
 'film_rank': 'Xếp hạng phim, Đánh giá điện ảnh, Bảng xếp hạng phim',
 'flight_1': 'Chuyến bay, Hành trình hàng không, Vé máy bay',
 'flight_4': 'Chuyến bay, Hành trình hàng không, Dịch vụ hàng không',
 'formula_1': 'Đua xe Công thức, Giải đua F1, Môn thể thao tốc độ',
 'game_1': 'Trò chơi, Trận đấu, Giải trí điện tử',
 'gas_company': 'Công ty khí đốt, Nhà cung cấp năng lượng, Doanh nghiệp khí hóa',
 'geo': 'Địa lý, Khoa học trái đất, Thông tin địa hình',
 'gymnast': 'Vận động viên thể dục, Người tập gym, Thể dục dụng cụ',
 'hospital_1': 'Bệnh viện, Cơ sở y tế, Trung tâm chăm sóc sức khỏe',
 'hr_1': 'Nhân sự, Quản lý nguồn nhân lực, Tuyển dụng',
 'icfp_1': 'Tác giả, Báo cáo, Nghiên cứu, Bài báo, Tiêu đề',
 'inn_1': 'Nhà trọ, Khách sạn nhỏ, Chỗ ở qua đêm',
 'insurance_fnol': 'Bảo hiểm báo cáo tổn thất đầu tiên, Khiếu nại bảo hiểm, Yêu cầu bồi thường',
 'insurance_policies': 'Chính sách bảo hiểm, Gói bảo hiểm, Hợp đồng bảo hiểm',
 'journal_committee': 'Ban biên tập tạp chí, Ủy ban học thuật, Hội đồng nghiên cứu',
 'loan_1': 'Khoản vay, Tín dụng, Hỗ trợ tài chính',
 'local_govt_and_lot': 'Chính quyền địa phương và quy hoạch, Quản lý đô thị, Hành chính công',
 'local_govt_mdm': 'Mã hễ thống, Thuế, Tham chiếu',
 'manufactory_1': 'Nhà máy sản xuất, Xưởng chế tạo, Cơ sở công nghiệp',
 'medicine_enzyme_interaction': 'Tương tác enzyme thuốc, Nghiên cứu y dược, Công nghệ sinh học',
 'movie_1': 'Phim, Tác phẩm điện ảnh, Bộ phim',
 'music_1': 'Âm nhạc, Nghệ thuật âm thanh, Giai điệu',
 'music_4': 'Âm nhạc, Tác phẩm âm nhạc, Nhạc cụ',
 'musical': 'Nhạc kịch, Chương trình âm nhạc, Sân khấu ca nhạc',
 'network_2': 'Mạng lưới, Hệ thống kết nối, Công nghệ truyền thông',
 'news_report': 'Báo cáo tin tức, Bản tin, Truyền thông',
 'orchestra': 'Dàn nhạc giao hưởng, Nhóm nhạc, Ban nhạc cổ điển',
 'party_people': 'Người tham gia tiệc, Khách mời sự kiện, Hội nhóm vui chơi',
 'performance_attendance': 'Tham dự buổi biểu diễn, Khán giả, Người xem',
 'pets_1': 'Thú cưng, Động vật nuôi, Bạn đồng hành',
 'phone_1': 'Điện thoại, Thiết bị di động, Liên lạc',
 'pilot_record': 'Hồ sơ phi công, Lý lịch bay, Giấy phép hàng không',
 'poker_player': 'Người chơi poker, Bài bạc, Đánh bài',
 'products_gen_characteristics': 'Đặc điểm chung của sản phẩm, Tính năng, Chất lượng',
 'program_share': 'Chia sẻ chương trình, Phân phối phần mềm, Công nghệ số',
 'protein_institute': 'Viện nghiên cứu protein, Công nghệ sinh học, Dinh dưỡng',
 'race_track': 'Đường đua, Trường đua, Cuộc thi tốc độ',
 'railway': 'Đường sắt, Tuyến tàu hỏa, Giao thông đường sắt',
 'real_estate_properties': 'Bất động sản, Nhà đất, Tài sản địa ốc',
 'restaurants': 'Nhà hàng, Quán ăn, Ẩm thực',
 'riding_club': 'Câu lạc bộ cưỡi ngựa, Hội đua ngựa, Trung tâm huấn luyện',
 'roller_coaster': 'Tàu lượn siêu tốc, Trò chơi cảm giác mạnh, Công viên giải trí',
 'scholar': 'Học giả, Nhà nghiên cứu, Người uyên bác',
 'school_finance': 'Tài chính trường học, Ngân sách giáo dục, Quản lý tài chính',
 'ship_1': 'Tàu, Phương tiện hàng hải, Vận tải biển',
 'shop_membership': 'Thẻ thành viên cửa hàng, Hội viên, Khách hàng thân thiết',
 'small_bank_1': 'Ngân hàng nhỏ, Dịch vụ tài chính, Tổ chức tín dụng',
 'soccer_2': 'Bóng đá, Môn thể thao, Trận đấu',
 'solvency_ii': 'Quy định Solvency II, Quản lý rủi ro tài chính, Kiểm soát bảo hiểm',
 'store_1': 'Cửa hàng, Siêu thị, Nơi mua sắm',
 'student_transcripts_tracking': 'Theo dõi bảng điểm sinh viên, Quản lý thành tích, Hồ sơ học tập',
 'theme_gallery': 'Phòng trưng bày chủ đề, Triển lãm, Không gian nghệ thuật',
 'tracking_grants_for_research': 'Theo dõi tài trợ nghiên cứu, Quản lý quỹ khoa học, Hỗ trợ nghiên cứu',
 'tracking_orders': 'Theo dõi đơn hàng, Quản lý mua sắm, Đơn hàng trực tuyến',
 'tracking_software_problems': 'Theo dõi lỗi phần mềm, Gỡ lỗi, Hệ thống kiểm tra',
 'tvshow': 'Chương trình truyền hình, Phim bộ, Giải trí trên TV',
 'twitter_1': 'Twitter, Mạng xã hội, Microblogging',
 'university_basketball': 'Bóng rổ đại học, Giải đấu sinh viên, Trận đấu thể thao',
 'voter_2': 'Cử tri, Người bỏ phiếu, Quyền bầu cử',
 'wine_1': 'Rượu vang, Đồ uống có cồn, Nho ủ',
 'world_1': 'Thế giới, Địa cầu, Toàn cầu hóa',
 'wrestler': 'Đô vật, Vận động viên đấu vật, Thể thao đối kháng'}

In [32]:
DF1['db_id_vn'] = DF1['db_id_vn'].map(result)

In [33]:
DF1.sort_values(by='db_id', ascending=True)

,db_id,db_id_vn,query,query_toks,query_toks_no_value,question,question_toks,sql
2891,academic,"Học thuật, Giáo dục, Nghiên cứu",select t3.tiêu đề from viết as t2 join tác giả...,"[select, t3.tiêu đề, from, viết, as, t2, join,...","[select, t3, ., tiêu đề, from, viết, as, t2, j...",những bài báo nào đã được viết bởi H. V. Jagad...,"[những, bài, báo, nào, đã, được, viết, bởi, H....","{'except': None, 'from': {'conds': [[False, 2,..."
3039,academic,"Học thuật, Giáo dục, Nghiên cứu",select t1.tên from bài báo as t4 join hội nghị...,"[select, t1.tên, from, bài báo, as, t4, join, ...","[select, t1, ., tên, from, bài báo, as, t4, jo...",liệt kê các tác giả có hơn 10 bài báo được đăn...,"[liệt, kê, các, tác, giả, có, hơn, 10, bài, bá...","{'except': None, 'from': {'conds': [[False, 2,..."
3040,academic,"Học thuật, Giáo dục, Nghiên cứu",select t1.tên from bài báo as t4 join hội nghị...,"[select, t1.tên, from, bài báo, as, t4, join, ...","[select, t1, ., tên, from, bài báo, as, t4, jo...",tác giả nào có nhiều bài báo tại hội nghị VLDB...,"[tác, giả, nào, có, nhiều, bài, báo, tại, hội,...","{'except': None, 'from': {'conds': [[False, 2,..."
3041,academic,"Học thuật, Giáo dục, Nghiên cứu",select t1.tên from tổ chức as t2 join tác giả ...,"[select, t1.tên, from, tổ chức, as, t2, join, ...","[select, t1, ., tên, from, tổ chức, as, t2, jo...",những tác giả nào thuộc ' Đại học Michigan ' đ...,"[những, tác, giả, nào, thuộc, ', Đại, học, Mic...","{'except': None, 'from': {'conds': [[False, 2,..."
3042,academic,"Học thuật, Giáo dục, Nghiên cứu",select t1.tên from lĩnh vực của tác giả as t6 ...,"[select, t1.tên, from, lĩnh vực của tác giả, a...","[select, t1, ., tên, from, lĩnh vực của tác gi...",liệt kê các tác giả thuộc ' Đại học Michigan '...,"[liệt, kê, các, tác, giả, thuộc, ', Đại, học, ...","{'except': None, 'from': {'conds': [[False, 2,..."
...,...,...,...,...,...,...,...,...
12536,yelp,"Trang đánh giá Yelp, Nhận xét nhà hàng, Phản h...",select count ( distinct t1.tên ) from loại_hìn...,"[select, count, (, distinct, t1.tên, ), from, ...","[select, count, (, distinct, t1, ., tên, ), fr...",có bao_nhiêu doanh_nghiệp có loại_hình kinh_do...,"[có, bao_nhiêu, doanh_nghiệp, có, loại_hình, k...","{'except': None, 'from': {'conds': [[False, 2,..."
12535,yelp,"Trang đánh giá Yelp, Nhận xét nhà hàng, Phản h...",select count ( distinct tên ) from người tiêu_...,"[select, count, (, distinct, tên, ), from, ngư...","[select, count, (, distinct, tên, ), from, ngư...",cho biết số_lượng người dùng có tên là Michelle .,"[cho, biết, số_lượng, người, dùng, có, tên, là...","{'except': None, 'from': {'conds': [], 'table_..."
12554,yelp,"Trang đánh giá Yelp, Nhận xét nhà hàng, Phản h...",select t1.tên from loại_hình as t2 join doanh_...,"[select, t1.tên, from, loại_hình, as, t2, join...","[select, t1, ., tên, from, loại_hình, as, t2, ...",doanh_nghiệp nào đang theo nhiều loại_hình kin...,"[doanh_nghiệp, nào, đang, theo, nhiều, loại_hì...","{'except': None, 'from': {'conds': [[False, 2,..."
12540,yelp,"Trang đánh giá Yelp, Nhận xét nhà hàng, Phản h...",select count ( distinct văn_bản ) from đánh_gi...,"[select, count, (, distinct, văn_bản, ), from,...","[select, count, (, distinct, văn_bản, ), from,...",cho biết số_lượng đánh_giá được viết vào tháng...,"[cho, biết, số_lượng, đánh_giá, được, viết, và...","{'except': None, 'from': {'conds': [], 'table_..."
12553,yelp,"Trang đánh giá Yelp, Nhận xét nhà hàng, Phản h...",select t1.tên from đánh_giá as t2 join doanh_n...,"[select, t1.tên, from, đánh_giá, as, t2, join,...","[select, t1, ., tên, from, đánh_giá, as, t2, j...",doanh_nghiệp nào nhận được nhiều đánh_giá nhất...,"[doanh_nghiệp, nào, nhận, được, nhiều, đánh_gi...","{'except': None, 'from': {'conds': [[False, 2,..."

In [34]:
import re
DF1['question'] = DF1['question'].apply(lambda x: re.sub(r'_', ' ', x))
# DF1['question'] = DF1['question'].apply(lambda x: re.sub(r" ,", ",", x))
# DF1['question'] = DF1['question'].apply(lambda x: re.sub(r" \.", ".", x))
# DF1['question'] = DF1['question'].apply(lambda x: re.sub(r"\s*'\s*(.*?)\s*'\s*", r" '\1' ", x).strip())
# DF1['question'] = DF1['question'].apply(lambda x: re.sub(r"\s+\.", ".", x))
# DF1

In [35]:
DF_db_id = DF_db_id.drop_duplicates().sort_values(ascending=True)

In [36]:
DF_db_id = pd.DataFrame(DF_db_id)
DFid = DF_db_id
DFid.insert(column= 'ID', loc= len(DFid.columns), value=range(len(DFid)))
DFid

                  db_id   ID
2862           academic    0
1193         activity_1    1
3043           aircraft    2
3089          allergy_1    3
3187  apartment_rentals    4
...                 ...  ...
2721     workshop_paper  161
9533            world_1  162
9653           wrestler  163
892               wta_1  164
2751               yelp  165

[166 rows x 2 columns]

In [37]:
mapID = DFid.set_index('db_id')['ID'].to_dict()
mapID

{'academic': 0,
 'activity_1': 1,
 'aircraft': 2,
 'allergy_1': 3,
 'apartment_rentals': 4,
 'architecture': 5,
 'assets_maintenance': 6,
 'baseball_1': 7,
 'battle_death': 8,
 'behavior_monitoring': 9,
 'bike_1': 10,
 'body_builder': 11,
 'book_2': 12,
 'browser_web': 13,
 'candidate_poll': 14,
 'car_1': 15,
 'chinook_1': 16,
 'cinema': 17,
 'city_record': 18,
 'climbing': 19,
 'club_1': 20,
 'coffee_shop': 21,
 'college_1': 22,
 'college_2': 23,
 'college_3': 24,
 'company_1': 25,
 'company_employee': 26,
 'company_office': 27,
 'concert_singer': 28,
 'county_public_safety': 29,
 'course_teach': 30,
 'cre_Doc_Control_Systems': 31,
 'cre_Doc_Template_Mgt': 32,
 'cre_Doc_Tracking_DB': 33,
 'cre_Docs_and_Epenses': 34,
 'cre_Drama_Workshop_Groups': 35,
 'cre_Theme_park': 36,
 'csu_1': 37,
 'culture_company': 38,
 'customer_complaints': 39,
 'customer_deliveries': 40,
 'customers_and_addresses': 41,
 'customers_and_invoices': 42,
 'customers_and_products_contacts': 43,
 'customers_campaigns_ecommerce': 44,
 'customers_card_transactions': 45,
 'debate': 46,
 'decoration_competition': 47,
 'department_management': 48,
 'department_store': 49,
 'device': 50,
 'document_management': 51,
 'dog_kennels': 52,
 'dorm_1': 53,
 'driving_school': 54,
 'e_government': 55,
 'e_learning': 56,
 'election': 57,
 'election_representative': 58,
 'employee_hire_evaluation': 59,
 'entertainment_awards': 60,
 'entrepreneur': 61,
 'epinions_1': 62,
 'farm': 63,
 'film_rank': 64,
 'flight_1': 65,
 'flight_2': 66,
 'flight_4': 67,
 'flight_company': 68,
 'formula_1': 69,
 'game_1': 70,
 'game_injury': 71,
 'gas_company': 72,
 'geo': 73,
 'gymnast': 74,
 'hospital_1': 75,
 'hr_1': 76,
 'icfp_1': 77,
 'imdb': 78,
 'inn_1': 79,
 'insurance_and_eClaims': 80,
 'insurance_fnol': 81,
 'insurance_policies': 82,
 'journal_committee': 83,
 'loan_1': 84,
 'local_govt_and_lot': 85,
 'local_govt_in_alabama': 86,
 'local_govt_mdm': 87,
 'machine_repair': 88,
 'manufactory_1': 89,
 'manufacturer': 90,
 'match_season': 91,
 'medicine_enzyme_interaction': 92,
 'mountain_photos': 93,
 'movie_1': 94,
 'museum_visit': 95,
 'music_1': 96,
 'music_2': 97,
 'music_4': 98,
 'musical': 99,
 'network_1': 100,
 'network_2': 101,
 'news_report': 102,
 'orchestra': 103,
 'party_host': 104,
 'party_people': 105,
 'performance_attendance': 106,
 'perpetrator': 107,
 'pets_1': 108,
 'phone_1': 109,
 'phone_market': 110,
 'pilot_record': 111,
 'poker_player': 112,
 'product_catalog': 113,
 'products_for_hire': 114,
 'products_gen_characteristics': 115,
 'program_share': 116,
 'protein_institute': 117,
 'race_track': 118,
 'railway': 119,
 'real_estate_properties': 120,
 'restaurant_1': 121,
 'restaurants': 122,
 'riding_club': 123,
 'roller_coaster': 124,
 'sakila_1': 125,
 'scholar': 126,
 'school_bus': 127,
 'school_finance': 128,
 'school_player': 129,
 'scientist_1': 130,
 'ship_1': 131,
 'ship_mission': 132,
 'shop_membership': 133,
 'singer': 134,
 'small_bank_1': 135,
 'soccer_1': 136,
 'soccer_2': 137,
 'solvency_ii': 138,
 'sports_competition': 139,
 'station_weather': 140,
 'store_1': 141,
 'store_product': 142,
 'storm_record': 143,
 'student_1': 144,
 'student_assessment': 145,
 'student_transcripts_tracking': 146,
 'swimming': 147,
 'theme_gallery': 148,
 'tracking_grants_for_research': 149,
 'tracking_orders': 150,
 'tracking_share_transactions': 151,
 'tracking_software_problems': 152,
 'train_station': 153,
 'tvshow': 154,
 'twitter_1': 155,
 'university_basketball': 156,
 'voter_1': 157,
 'voter_2': 158,
 'wedding': 159,
 'wine_1': 160,
 'workshop_paper': 161,
 'world_1': 162,
 'wrestler': 163,
 'wta_1': 164,
 'yelp': 165}

In [38]:
DF1['db_id'] = DF1['db_id'].map(mapID)
DF1

,db_id,db_id_vn,query,query_toks,query_toks_no_value,question,question_toks,sql
0,5,"Kiến trúc, Xây dựng, Công trình",select count ( * ) from kiến trúc sư where giớ...,"[select, count, (, *, ), from, kiến trúc sư, w...","[select, count, (, *, ), from, kiến trúc sư, w...",Có tất cả bao nhiêu kiến trúc sư nữ ?,"[Có, tất, cả, bao, nhiêu, kiến, trúc, sư, nữ, ?]","{'except': None, 'from': {'conds': [], 'table_..."
1,5,"Kiến trúc, Xây dựng, Công trình","select tên , quốc tịch , id from kiến trúc sư ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","Liệt kê tên , quốc tịch và id của tất cả các k...","[Liệt, kê, tên, ,, quốc, tịch, và, id, của, tấ...","{'except': None, 'from': {'conds': [], 'table_..."
2,5,"Kiến trúc, Xây dựng, Công trình","select max ( t1.chiều dài theo mét ) , t2.tên ...","[select, max, (, t1.chiều dài theo mét, ), ,, ...","[select, max, (, t1, ., chiều dài theo mét, ),...",Cho biết tên của người kiến trúc sư đã tạo ra ...,"[Cho, biết, tên, của, người, kiến, trúc, sư, đ...","{'except': None, 'from': {'conds': [[False, 2,..."
3,5,"Kiến trúc, Xây dựng, Công trình",select avg ( chiều dài theo feet ) from cầu,"[select, avg, (, chiều dài theo feet, ), from,...","[select, avg, (, chiều dài theo feet, ), from,...",Cho biết chiều dài trung bình tính theo feet c...,"[Cho, biết, chiều, dài, trung, bình, tính, the...","{'except': None, 'from': {'conds': [], 'table_..."
4,5,"Kiến trúc, Xây dựng, Công trình","select tên , năm xây dựng from nhà máy where l...","[select, tên, ,, năm xây dựng, from, nhà máy, ...","[select, tên, ,, năm xây dựng, from, nhà máy, ...",Cho biết tên và năm xây dựng của các nhà máy t...,"[Cho, biết, tên, và, năm, xây, dựng, của, các,...","{'except': None, 'from': {'conds': [], 'table_..."
...,...,...,...,...,...,...,...,...
19381,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select đội from lần bị loại where bị loại bởi ...,"[select, đội, from, lần bị loại, where, bị loạ...","[select, đội, from, lần bị loại, where, bị loạ...",Những đội có các đô vật bị loại bởi ' Orton ' ...,"[Những, đội, có, các, đô_vật, bị, loại, bởi, '...","{'except': None, 'from': {'conds': [], 'table_..."
19382,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Những đô vật đã bị loại đại diện cho tất cả ba...,"[Những, đô_vật, đã, bị, loại, đại_diện, cho, t...","{'except': None, 'from': {'conds': [], 'table_..."
19383,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Có bao nhiêu đội khác nhau có thành viên là cá...,"[Có, bao_nhiêu, đội, khác, nhau, có, thành_viê...","{'except': None, 'from': {'conds': [], 'table_..."
19384,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Những đô vật đã bị loại bởi ' Punk ' hoặc ' Or...,"[Những, đô_vật, đã, bị, loại, bởi, ', Punk, ',...","{'except': None, 'from': {'conds': [], 'table_..."
19385,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời_gian from lần bị loại where bị loạ...,"[select, thời_gian, from, lần bị loại, where, ...","[select, thời_gian, from, lần bị loại, where, ...",Cho biết thời gian bị loại của các đô vật bị l...,"[Cho, biết, thời_điểm, bị, loại, của, các, đô_...","{'except': None, 'from': {'conds': [], 'table_..."

In [39]:
DF_id_vn = DF1['db_id_vn'].drop_duplicates()

lstt = []
for i in DF_id_vn:
    S = i.split(", ")
    for j in S:
        lstt.append(j)
    
lstt = sorted(lstt)
print(lstt)

mydict = {lstt[i]: i for i in range(0, len(lstt))}
print(mydict)

['Album', 'An toàn công cộng quận', 'Ban biên tập tạp chí', 'Ban nhạc cổ điển', 'Buôn bán điện thoại', 'Bài báo', 'Bài bạc', 'Bài hát', 'Bài nghiên cứu hội thảo', 'Báo cáo', 'Báo cáo', 'Báo cáo tin tức', 'Bóng chày', 'Bóng rổ đại học', 'Bóng đá', 'Bóng đá', 'Bơi lặn', 'Bơi lội', 'Bạn đồng hành', 'Bản nhạc', 'Bản tin', 'Bảng xếp hạng phim', 'Bảo hiểm báo cáo tổn thất đầu tiên', 'Bảo hiểm và khiếu nại điện tử', 'Bảo hành sản phẩm', 'Bảo trì thiết bị', 'Bảo trì tài sản', 'Bất động sản', 'Bầu cử', 'Bằng cấp', 'Bệnh dị ứng', 'Bệnh viện', 'Bộ phim', 'Bộ phim', 'Bộ sưu tập sản phẩm', 'Ca sĩ', 'Ca sĩ biểu diễn', 'Canh tác', 'Chia sẻ chương trình', 'Chiến dịch khách hàng thương mại điện tử', 'Chung cư', 'Chuyên gia nghiên cứu', 'Chuyến bay', 'Chuyến bay', 'Chính phủ điện tử', 'Chính quyền địa phương và quy hoạch', 'Chính quyền địa phương ở Alabama', 'Chính sách bảo hiểm', 'Chính trị gia', 'Chương trình', 'Chương trình truyền hình', 'Chương trình âm nhạc', 'Chấn thương khi chơi game', 'Chất lượng', 'Chỗ nuôi chó', 'Chỗ ở qua đêm', 'Chỗ ở tập thể', 'Chủ tiệc', 'Chủ trì tiệc', 'Cuộc thi thể thao', 'Cuộc thi trang trí', 'Cuộc thi tốc độ', 'Cái chết trong trận chiến', 'Câu lạc bộ', 'Câu lạc bộ cưỡi ngựa', 'Câu lạc bộ sân khấu', 'Công cụ', 'Công cụ tìm kiếm', 'Công dân bỏ phiếu', 'Công nghệ hành chính', 'Công nghệ sinh học', 'Công nghệ sinh học', 'Công nghệ số', 'Công nghệ truyền thông', 'Công trình', 'Công ty', 'Công ty chế tạo', 'Công ty hàng không', 'Công ty khí đốt', 'Công ty văn hóa', 'Công viên chủ đề', 'Công viên giải trí', 'Công viên giải trí', 'Cơ quan', 'Cơ quan nhà nước', 'Cơ sở công nghiệp', 'Cơ sở dữ liệu phim IMDb', 'Cơ sở y tế', 'Cảnh sát cứu hỏa', 'Cử tri', 'Cử tri', 'Cửa hàng', 'Cửa hàng', 'Cửa hàng bách hóa', 'Cửa hàng đồ uống', 'Danh hiệu nghệ thuật', 'Danh mục sản phẩm', 'Danh sách khách hàng', 'Dinh dưỡng', 'Doanh nghiệp', 'Doanh nghiệp', 'Doanh nghiệp khí hóa', 'Doanh nghiệp nghệ thuật', 'Doanh nhân', 'Du lịch bảo tàng', 'Dàn nhạc giao hưởng', 'Dị ứng', 'Dịch vụ cho thuê', 'Dịch vụ chăm sóc thú cưng', 'Dịch vụ giao nhận', 'Dịch vụ hàng không', 'Dịch vụ khẩn cấp', 'Dịch vụ tài chính', 'Dịch vụ ẩm thực', 'Dữ liệu thành phố', 'Dự báo thời tiết', 'Dự án', 'Ga tàu', 'Ghi chép bão', 'Giai điệu', 'Giai điệu', 'Giao dịch thẻ khách hàng', 'Giao hàng cho khách', 'Giao thông học đường', 'Giao thông đường sắt', 'Giám sát chứng khoán', 'Giám sát hành vi', 'Giám sát tài liệu', 'Giáo dục', 'Giáo dục trực tuyến', 'Giải quần vợt nữ', 'Giải thưởng giải trí', 'Giải trí trên TV', 'Giải trí điện tử', 'Giải đua F1', 'Giải đấu', 'Giải đấu', 'Giải đấu sinh viên', 'Giảng viên', 'Giấy phép hàng không', 'Gymer', 'Gói bảo hiểm', 'Gỡ lỗi', 'Hiệp hội quần vợt nữ', 'Hoạt động', 'Hy sinh', 'Hàng hóa', 'Hàng hóa', 'Hàng không', 'Hành chính công', 'Hành trình biển', 'Hành trình hàng không', 'Hành trình hàng không', 'Hãng hàng không', 'Hôn lễ', 'Hệ thống kiểm soát tài liệu', 'Hệ thống kiểm tra', 'Hệ thống kết nối', 'Hệ thống kết nối', 'Học giả', 'Học giả', 'Học lái ô tô', 'Học phí', 'Học sinh', 'Học sinh chơi thể thao', 'Học thuật', 'Học trực tuyến', 'Học viên', 'Học viện', 'Học viện', 'Hồ sơ', 'Hồ sơ học tập', 'Hồ sơ phi công', 'Hồ sơ thành phố', 'Hỗ trợ khách hàng', 'Hỗ trợ nghiên cứu', 'Hỗ trợ tài chính', 'Hội nhóm', 'Hội nhóm vui chơi', 'Hội viên', 'Hội đua ngựa', 'Hội đồng nghiên cứu', 'Hợp đồng bảo hiểm', 'Hợp đồng bảo hiểm', 'Internet', 'Khiếu nại bảo hiểm', 'Khiếu nại khách hàng', 'Khoa học trái đất', 'Khoản vay', 'Khu vui chơi', 'Khách hàng', 'Khách hàng', 'Khách hàng thân thiết', 'Khách hàng và hóa đơn', 'Khách hàng và liên hệ sản phẩm', 'Khách hàng và địa chỉ', 'Khách mời sự kiện', 'Khách sạn nhỏ', 'Khám phá di sản', 'Khán giả', 'Khóa học giảng dạy', 'Khóa học online', 'Không gian nghệ thuật', 'Khảo sát bầu cử', 'Kinh doanh di động', 'Kinh doanh số', 'Kiến trúc', 'Kiểm soát bảo hiểm', 'Kiểm tra nhân sự', 'Kiểm tra năng lực', 'Ký túc xá', 'Kẻ gây án', 'Kỹ thuật cơ khí', 'Leo núi', 'Liên lạc', 'Liên đoàn tennis nữ', 'Lý lịch bay', 'Lưu trữ dữ liệu', 'Lịch sử thiên tai', 'Lớp diễn xuất', 'Lớp học', 'Microblogging', 'Máy bay', 'Máy móc', 'Mã hễ thống', 'Môn thể thao', 'Môn thể thao', 'Môn thể thao dưới nước', 'Môn thể thao mạo hiểm', 'Môn thể thao tốc độ', 'Môn thể thao vua', 'Mùa giải', 'Mùa giải đấu', 'Mạng lưới', 'Mạng lưới', 'Mạng xã hội', 'Mẫu', 'Mặt hàng kinh doanh', 'Mối quan hệ khách hàng', 'Nghiên cứu', 'Nghiên cứu', 'Nghiên cứu y dược', 'Nghệ sĩ', 'Nghệ sĩ', 'Nghệ sĩ hát', 'Nghệ thuật trang trí', 'Nghệ thuật âm thanh', 'Nghệ thuật âm thanh', 'Ngân hàng nhỏ', 'Ngân sách', 'Ngân sách giáo dục', 'Người bỏ phiếu', 'Người chơi poker', 'Người khởi nghiệp', 'Người lao động', 'Người tham gia tiệc', 'Người tập gym', 'Người tập thể hình', 'Người tổ chức sự kiện', 'Người uyên bác', 'Người xem', 'Người đi bầu', 'Nhiếp ảnh thiên nhiên', 'Nhiệm vụ tàu thủy', 'Nho ủ', 'Nhà cho thuê', 'Nhà cung cấp năng lượng', 'Nhà ga', 'Nhà hàng', 'Nhà hàng', 'Nhà khoa học', 'Nhà kinh doanh', 'Nhà máy sản xuất', 'Nhà nghiên cứu', 'Nhà sản xuất', 'Nhà trọ', 'Nhà đất', 'Nhà ở sinh viên', 'Nhân sự', 'Nhân sự', 'Nhân viên', 'Nhân viên', 'Nhân viên công ty', 'Nhóm hội thảo kịch', 'Nhóm nhạc', 'Nhạc công', 'Nhạc cụ', 'Nhạc kịch', 'Nhạc sĩ', 'Nhận xét ePinions', 'Nhận xét nhà hàng', 'Nông trại', 'Nơi mua sắm', 'Phi cơ', 'Phim', 'Phim bộ', 'Phim trường', 'Phong cảnh núi non', 'Phân phối phần mềm', 'Phân tích hành vi', 'Phòng trưng bày chủ đề', 'Phương tiện giao thông', 'Phương tiện hai bánh', 'Phương tiện hàng hải', 'Phương tiện đưa đón học sinh', 'Phản hồi khách hàng', 'Phản hồi khách hàng', 'Phản hồi tiêu cực', 'Phản ứng miễn dịch', 'Quy định Solvency II', 'Quyền bầu cử', 'Quán cà phê', 'Quán ăn', 'Quán ăn', 'Quản lý hồ sơ', 'Quản lý khu vực', 'Quản lý mua sắm', 'Quản lý nguồn nhân lực', 'Quản lý phòng ban', 'Quản lý quỹ khoa học', 'Quản lý rủi ro tài chính', 'Quản lý số', 'Quản lý thành tích', 'Quản lý tài chính', 'Quản lý tài liệu', 'Quản lý tài nguyên', 'Quản lý đô thị', 'Quốc gia', 'Rượu vang', 'Rạp chiếu phim', 'Sinh viên', 'Sinh viên', 'Siêu thị', 'Siêu thị', 'Sách', 'Sân khấu ca nhạc', 'Sản phẩm cho thuê', 'Sản phẩm cửa hàng', 'Sửa chữa máy móc', 'Sửa chữa tài sản', 'Sự kiện', 'Tai nạn thi đấu', 'Tham chiếu', 'Tham dự buổi biểu diễn', 'Tham quan bảo tàng', 'Thanh toán', 'Thanh toán', 'Thanh toán điện tử', 'Theo dõi bảng điểm sinh viên', 'Theo dõi giao dịch cổ phiếu', 'Theo dõi lỗi phần mềm', 'Theo dõi thói quen', 'Theo dõi tài trợ nghiên cứu', 'Theo dõi đơn hàng', 'Thiết bị', 'Thiết bị di động', 'Thiết kế nội thất', 'Thuê căn hộ', 'Thuế', 'Thành phố', 'Thông tin liên hệ', 'Thông tin phim', 'Thông tin đô thị', 'Thông tin địa hình', 'Thú cưng', 'Thăm dò ứng cử viên', 'Thảo luận', 'Thảo luận chuyên đề', 'Thẻ thành viên cửa hàng', 'Thẻ tín dụng', 'Thế giới', 'Thể dục dụng cụ', 'Thể thao đối kháng', 'Thị trường điện thoại', 'Thống kê thời tiết', 'Thủ phạm', 'Tiêu đề', 'Tiếp thị trực tuyến', 'Tiệc cưới', 'Tiệm cà phê', 'Toàn cầu hóa', 'Trang trại', 'Trang đánh giá Yelp', 'Tranh cử', 'Tranh luận', 'Triển lãm', 'Trung tâm chăm sóc sức khỏe', 'Trung tâm huấn luyện', 'Trung tâm khí tượng', 'Trung tâm thương mại', 'Trung tâm đào tạo lái xe', 'Truy cập Internet', 'Truyền thông', 'Trèo đèo', 'Trình duyệt web', 'Trò chơi', 'Trò chơi cảm giác mạnh', 'Trường', 'Trường cao đẳng', 'Trường cao đẳng', 'Trường cao đẳng', 'Trường dạy lái xe', 'Trường đua', 'Trại chó', 'Trạm thời tiết', 'Trạm xe lửa', 'Trận đấu', 'Trận đấu', 'Trận đấu', 'Trận đấu bóng chày', 'Trận đấu thể thao', 'Trụ sở', 'Tuyến tàu hỏa', 'Tuyển chọn nhân viên', 'Tuyển dụng', 'Twitter', 'Tài chính trường học', 'Tài khoản', 'Tài liệu', 'Tài liệu', 'Tài liệu', 'Tài liệu', 'Tài liệu học thuật', 'Tài sản địa ốc', 'Tàu', 'Tàu lượn siêu tốc', 'Tác giả', 'Tác phẩm âm nhạc', 'Tác phẩm điện ảnh', 'Tín dụng', 'Tính năng', 'Tương tác enzyme thuốc', 'Tập đoàn', 'Tổ chức công việc', 'Tổ chức sáng tạo', 'Tổ chức tín dụng', 'Tổ chức xã hội', 'Tổn thương thể thao', 'Tội phạm', 'Tử trận', 'Vai trò', 'Vinh danh', 'Viện giáo dục', 'Viện nghiên cứu protein', 'Vé máy bay', 'Văn bản', 'Văn phòng công ty', 'Vận chuyển đơn hàng', 'Vận tải biển', 'Vận tải hàng không', 'Vận tải đường biển', 'Vận động viên học đường', 'Vận động viên thể dục', 'Vận động viên thể hình', 'Vận động viên đấu vật', 'Vật dụng thuê mướn', 'Xe buýt trường học', 'Xe hơi', 'Xe đạp', 'Xe đạp thể thao', 'Xây dựng', 'Xưởng chế tạo', 'Xếp hạng phim', 'Xếp hạng điện ảnh', 'Xếp loại học tập', 'Yêu cầu bồi thường', 'Yêu cầu bồi thường', 'Âm nhạc', 'Âm nhạc', 'Âm nhạc', 'Âm nhạc', 'Ô tô', 'Điều hành bộ phận', 'Điều tra dư luận', 'Điện thoại', 'Điện ảnh', 'Đoạn văn', 'Đua xe Công thức', 'Đào tạo', 'Đám cưới', 'Đánh bài', 'Đánh giá học sinh', 'Đánh giá sản phẩm', 'Đánh giá tuyển dụng nhân viên', 'Đánh giá điện ảnh', 'Đô vật', 'Đơn hàng', 'Đơn hàng trực tuyến', 'Đường sắt', 'Đường đua', 'Đại diện bầu cử', 'Đại học', 'Đại học', 'Đại học', 'Đại học', 'Đầu tư', 'Đặc điểm chung của sản phẩm', 'Địa chỉ', 'Địa cầu', 'Địa lý', 'Địa điểm', 'Đối thoại', 'Đồ uống có cồn', 'Đội tuyển bóng đá', 'Đội tuyển trường', 'Động vật nuôi', 'Ảnh núi', 'Ấn phẩm', 'Ẩm thực', 'Ủy ban học thuật', 'Ứng cử', 'Ứng cử viên']
{'Album': 0, 'An toàn công cộng quận': 1, 'Ban biên tập tạp chí': 2, 'Ban nhạc cổ điển': 3, 'Buôn bán điện thoại': 4, 'Bài báo': 5, 'Bài bạc': 6, 'Bài hát': 7, 'Bài nghiên cứu hội thảo': 8, 'Báo cáo': 10, 'Báo cáo tin tức': 11, 'Bóng chày': 12, 'Bóng rổ đại học': 13, 'Bóng đá': 15, 'Bơi lặn': 16, 'Bơi lội': 17, 'Bạn đồng hành': 18, 'Bản nhạc': 19, 'Bản tin': 20, 'Bảng xếp hạng phim': 21, 'Bảo hiểm báo cáo tổn thất đầu tiên': 22, 'Bảo hiểm và khiếu nại điện tử': 23, 'Bảo hành sản phẩm': 24, 'Bảo trì thiết bị': 25, 'Bảo trì tài sản': 26, 'Bất động sản': 27, 'Bầu cử': 28, 'Bằng cấp': 29, 'Bệnh dị ứng': 30, 'Bệnh viện': 31, 'Bộ phim': 33, 'Bộ sưu tập sản phẩm': 34, 'Ca sĩ': 35, 'Ca sĩ biểu diễn': 36, 'Canh tác': 37, 'Chia sẻ chương trình': 38, 'Chiến dịch khách hàng thương mại điện tử': 39, 'Chung cư': 40, 'Chuyên gia nghiên cứu': 41, 'Chuyến bay': 43, 'Chính phủ điện tử': 44, 'Chính quyền địa phương và quy hoạch': 45, 'Chính quyền địa phương ở Alabama': 46, 'Chính sách bảo hiểm': 47, 'Chính trị gia': 48, 'Chương trình': 49, 'Chương trình truyền hình': 50, 'Chương trình âm nhạc': 51, 'Chấn thương khi chơi game': 52, 'Chất lượng': 53, 'Chỗ nuôi chó': 54, 'Chỗ ở qua đêm': 55, 'Chỗ ở tập thể': 56, 'Chủ tiệc': 57, 'Chủ trì tiệc': 58, 'Cuộc thi thể thao': 59, 'Cuộc thi trang trí': 60, 'Cuộc thi tốc độ': 61, 'Cái chết trong trận chiến': 62, 'Câu lạc bộ': 63, 'Câu lạc bộ cưỡi ngựa': 64, 'Câu lạc bộ sân khấu': 65, 'Công cụ': 66, 'Công cụ tìm kiếm': 67, 'Công dân bỏ phiếu': 68, 'Công nghệ hành chính': 69, 'Công nghệ sinh học': 71, 'Công nghệ số': 72, 'Công nghệ truyền thông': 73, 'Công trình': 74, 'Công ty': 75, 'Công ty chế tạo': 76, 'Công ty hàng không': 77, 'Công ty khí đốt': 78, 'Công ty văn hóa': 79, 'Công viên chủ đề': 80, 'Công viên giải trí': 82, 'Cơ quan': 83, 'Cơ quan nhà nước': 84, 'Cơ sở công nghiệp': 85, 'Cơ sở dữ liệu phim IMDb': 86, 'Cơ sở y tế': 87, 'Cảnh sát cứu hỏa': 88, 'Cử tri': 90, 'Cửa hàng': 92, 'Cửa hàng bách hóa': 93, 'Cửa hàng đồ uống': 94, 'Danh hiệu nghệ thuật': 95, 'Danh mục sản phẩm': 96, 'Danh sách khách hàng': 97, 'Dinh dưỡng': 98, 'Doanh nghiệp': 100, 'Doanh nghiệp khí hóa': 101, 'Doanh nghiệp nghệ thuật': 102, 'Doanh nhân': 103, 'Du lịch bảo tàng': 104, 'Dàn nhạc giao hưởng': 105, 'Dị ứng': 106, 'Dịch vụ cho thuê': 107, 'Dịch vụ chăm sóc thú cưng': 108, 'Dịch vụ giao nhận': 109, 'Dịch vụ hàng không': 110, 'Dịch vụ khẩn cấp': 111, 'Dịch vụ tài chính': 112, 'Dịch vụ ẩm thực': 113, 'Dữ liệu thành phố': 114, 'Dự báo thời tiết': 115, 'Dự án': 116, 'Ga tàu': 117, 'Ghi chép bão': 118, 'Giai điệu': 120, 'Giao dịch thẻ khách hàng': 121, 'Giao hàng cho khách': 122, 'Giao thông học đường': 123, 'Giao thông đường sắt': 124, 'Giám sát chứng khoán': 125, 'Giám sát hành vi': 126, 'Giám sát tài liệu': 127, 'Giáo dục': 128, 'Giáo dục trực tuyến': 129, 'Giải quần vợt nữ': 130, 'Giải thưởng giải trí': 131, 'Giải trí trên TV': 132, 'Giải trí điện tử': 133, 'Giải đua F1': 134, 'Giải đấu': 136, 'Giải đấu sinh viên': 137, 'Giảng viên': 138, 'Giấy phép hàng không': 139, 'Gymer': 140, 'Gói bảo hiểm': 141, 'Gỡ lỗi': 142, 'Hiệp hội quần vợt nữ': 143, 'Hoạt động': 144, 'Hy sinh': 145, 'Hàng hóa': 147, 'Hàng không': 148, 'Hành chính công': 149, 'Hành trình biển': 150, 'Hành trình hàng không': 152, 'Hãng hàng không': 153, 'Hôn lễ': 154, 'Hệ thống kiểm soát tài liệu': 155, 'Hệ thống kiểm tra': 156, 'Hệ thống kết nối': 158, 'Học giả': 160, 'Học lái ô tô': 161, 'Học phí': 162, 'Học sinh': 163, 'Học sinh chơi thể thao': 164, 'Học thuật': 165, 'Học trực tuyến': 166, 'Học viên': 167, 'Học viện': 169, 'Hồ sơ': 170, 'Hồ sơ học tập': 171, 'Hồ sơ phi công': 172, 'Hồ sơ thành phố': 173, 'Hỗ trợ khách hàng': 174, 'Hỗ trợ nghiên cứu': 175, 'Hỗ trợ tài chính': 176, 'Hội nhóm': 177, 'Hội nhóm vui chơi': 178, 'Hội viên': 179, 'Hội đua ngựa': 180, 'Hội đồng nghiên cứu': 181, 'Hợp đồng bảo hiểm': 183, 'Internet': 184, 'Khiếu nại bảo hiểm': 185, 'Khiếu nại khách hàng': 186, 'Khoa học trái đất': 187, 'Khoản vay': 188, 'Khu vui chơi': 189, 'Khách hàng': 191, 'Khách hàng thân thiết': 192, 'Khách hàng và hóa đơn': 193, 'Khách hàng và liên hệ sản phẩm': 194, 'Khách hàng và địa chỉ': 195, 'Khách mời sự kiện': 196, 'Khách sạn nhỏ': 197, 'Khám phá di sản': 198, 'Khán giả': 199, 'Khóa học giảng dạy': 200, 'Khóa học online': 201, 'Không gian nghệ thuật': 202, 'Khảo sát bầu cử': 203, 'Kinh doanh di động': 204, 'Kinh doanh số': 205, 'Kiến trúc': 206, 'Kiểm soát bảo hiểm': 207, 'Kiểm tra nhân sự': 208, 'Kiểm tra năng lực': 209, 'Ký túc xá': 210, 'Kẻ gây án': 211, 'Kỹ thuật cơ khí': 212, 'Leo núi': 213, 'Liên lạc': 214, 'Liên đoàn tennis nữ': 215, 'Lý lịch bay': 216, 'Lưu trữ dữ liệu': 217, 'Lịch sử thiên tai': 218, 'Lớp diễn xuất': 219, 'Lớp học': 220, 'Microblogging': 221, 'Máy bay': 222, 'Máy móc': 223, 'Mã hễ thống': 224, 'Môn thể thao': 226, 'Môn thể thao dưới nước': 227, 'Môn thể thao mạo hiểm': 228, 'Môn thể thao tốc độ': 229, 'Môn thể thao vua': 230, 'Mùa giải': 231, 'Mùa giải đấu': 232, 'Mạng lưới': 234, 'Mạng xã hội': 235, 'Mẫu': 236, 'Mặt hàng kinh doanh': 237, 'Mối quan hệ khách hàng': 238, 'Nghiên cứu': 240, 'Nghiên cứu y dược': 241, 'Nghệ sĩ': 243, 'Nghệ sĩ hát': 244, 'Nghệ thuật trang trí': 245, 'Nghệ thuật âm thanh': 247, 'Ngân hàng nhỏ': 248, 'Ngân sách': 249, 'Ngân sách giáo dục': 250, 'Người bỏ phiếu': 251, 'Người chơi poker': 252, 'Người khởi nghiệp': 253, 'Người lao động': 254, 'Người tham gia tiệc': 255, 'Người tập gym': 256, 'Người tập thể hình': 257, 'Người tổ chức sự kiện': 258, 'Người uyên bác': 259, 'Người xem': 260, 'Người đi bầu': 261, 'Nhiếp ảnh thiên nhiên': 262, 'Nhiệm vụ tàu thủy': 263, 'Nho ủ': 264, 'Nhà cho thuê': 265, 'Nhà cung cấp năng lượng': 266, 'Nhà ga': 267, 'Nhà hàng': 269, 'Nhà khoa học': 270, 'Nhà kinh doanh': 271, 'Nhà máy sản xuất': 272, 'Nhà nghiên cứu': 273, 'Nhà sản xuất': 274, 'Nhà trọ': 275, 'Nhà đất': 276, 'Nhà ở sinh viên': 277, 'Nhân sự': 279, 'Nhân viên': 281, 'Nhân viên công ty': 282, 'Nhóm hội thảo kịch': 283, 'Nhóm nhạc': 284, 'Nhạc công': 285, 'Nhạc cụ': 286, 'Nhạc kịch': 287, 'Nhạc sĩ': 288, 'Nhận xét ePinions': 289, 'Nhận xét nhà hàng': 290, 'Nông trại': 291, 'Nơi mua sắm': 292, 'Phi cơ': 293, 'Phim': 294, 'Phim bộ': 295, 'Phim trường': 296, 'Phong cảnh núi non': 297, 'Phân phối phần mềm': 298, 'Phân tích hành vi': 299, 'Phòng trưng bày chủ đề': 300, 'Phương tiện giao thông': 301, 'Phương tiện hai bánh': 302, 'Phương tiện hàng hải': 303, 'Phương tiện đưa đón học sinh': 304, 'Phản hồi khách hàng': 306, 'Phản hồi tiêu cực': 307, 'Phản ứng miễn dịch': 308, 'Quy định Solvency II': 309, 'Quyền bầu cử': 310, 'Quán cà phê': 311, 'Quán ăn': 313, 'Quản lý hồ sơ': 314, 'Quản lý khu vực': 315, 'Quản lý mua sắm': 316, 'Quản lý nguồn nhân lực': 317, 'Quản lý phòng ban': 318, 'Quản lý quỹ khoa học': 319, 'Quản lý rủi ro tài chính': 320, 'Quản lý số': 321, 'Quản lý thành tích': 322, 'Quản lý tài chính': 323, 'Quản lý tài liệu': 324, 'Quản lý tài nguyên': 325, 'Quản lý đô thị': 326, 'Quốc gia': 327, 'Rượu vang': 328, 'Rạp chiếu phim': 329, 'Sinh viên': 331, 'Siêu thị': 333, 'Sách': 334, 'Sân khấu ca nhạc': 335, 'Sản phẩm cho thuê': 336, 'Sản phẩm cửa hàng': 337, 'Sửa chữa máy móc': 338, 'Sửa chữa tài sản': 339, 'Sự kiện': 340, 'Tai nạn thi đấu': 341, 'Tham chiếu': 342, 'Tham dự buổi biểu diễn': 343, 'Tham quan bảo tàng': 344, 'Thanh toán': 346, 'Thanh toán điện tử': 347, 'Theo dõi bảng điểm sinh viên': 348, 'Theo dõi giao dịch cổ phiếu': 349, 'Theo dõi lỗi phần mềm': 350, 'Theo dõi thói quen': 351, 'Theo dõi tài trợ nghiên cứu': 352, 'Theo dõi đơn hàng': 353, 'Thiết bị': 354, 'Thiết bị di động': 355, 'Thiết kế nội thất': 356, 'Thuê căn hộ': 357, 'Thuế': 358, 'Thành phố': 359, 'Thông tin liên hệ': 360, 'Thông tin phim': 361, 'Thông tin đô thị': 362, 'Thông tin địa hình': 363, 'Thú cưng': 364, 'Thăm dò ứng cử viên': 365, 'Thảo luận': 366, 'Thảo luận chuyên đề': 367, 'Thẻ thành viên cửa hàng': 368, 'Thẻ tín dụng': 369, 'Thế giới': 370, 'Thể dục dụng cụ': 371, 'Thể thao đối kháng': 372, 'Thị trường điện thoại': 373, 'Thống kê thời tiết': 374, 'Thủ phạm': 375, 'Tiêu đề': 376, 'Tiếp thị trực tuyến': 377, 'Tiệc cưới': 378, 'Tiệm cà phê': 379, 'Toàn cầu hóa': 380, 'Trang trại': 381, 'Trang đánh giá Yelp': 382, 'Tranh cử': 383, 'Tranh luận': 384, 'Triển lãm': 385, 'Trung tâm chăm sóc sức khỏe': 386, 'Trung tâm huấn luyện': 387, 'Trung tâm khí tượng': 388, 'Trung tâm thương mại': 389, 'Trung tâm đào tạo lái xe': 390, 'Truy cập Internet': 391, 'Truyền thông': 392, 'Trèo đèo': 393, 'Trình duyệt web': 394, 'Trò chơi': 395, 'Trò chơi cảm giác mạnh': 396, 'Trường': 397, 'Trường cao đẳng': 400, 'Trường dạy lái xe': 401, 'Trường đua': 402, 'Trại chó': 403, 'Trạm thời tiết': 404, 'Trạm xe lửa': 405, 'Trận đấu': 408, 'Trận đấu bóng chày': 409, 'Trận đấu thể thao': 410, 'Trụ sở': 411, 'Tuyến tàu hỏa': 412, 'Tuyển chọn nhân viên': 413, 'Tuyển dụng': 414, 'Twitter': 415, 'Tài chính trường học': 416, 'Tài khoản': 417, 'Tài liệu': 421, 'Tài liệu học thuật': 422, 'Tài sản địa ốc': 423, 'Tàu': 424, 'Tàu lượn siêu tốc': 425, 'Tác giả': 426, 'Tác phẩm âm nhạc': 427, 'Tác phẩm điện ảnh': 428, 'Tín dụng': 429, 'Tính năng': 430, 'Tương tác enzyme thuốc': 431, 'Tập đoàn': 432, 'Tổ chức công việc': 433, 'Tổ chức sáng tạo': 434, 'Tổ chức tín dụng': 435, 'Tổ chức xã hội': 436, 'Tổn thương thể thao': 437, 'Tội phạm': 438, 'Tử trận': 439, 'Vai trò': 440, 'Vinh danh': 441, 'Viện giáo dục': 442, 'Viện nghiên cứu protein': 443, 'Vé máy bay': 444, 'Văn bản': 445, 'Văn phòng công ty': 446, 'Vận chuyển đơn hàng': 447, 'Vận tải biển': 448, 'Vận tải hàng không': 449, 'Vận tải đường biển': 450, 'Vận động viên học đường': 451, 'Vận động viên thể dục': 452, 'Vận động viên thể hình': 453, 'Vận động viên đấu vật': 454, 'Vật dụng thuê mướn': 455, 'Xe buýt trường học': 456, 'Xe hơi': 457, 'Xe đạp': 458, 'Xe đạp thể thao': 459, 'Xây dựng': 460, 'Xưởng chế tạo': 461, 'Xếp hạng phim': 462, 'Xếp hạng điện ảnh': 463, 'Xếp loại học tập': 464, 'Yêu cầu bồi thường': 466, 'Âm nhạc': 470, 'Ô tô': 471, 'Điều hành bộ phận': 472, 'Điều tra dư luận': 473, 'Điện thoại': 474, 'Điện ảnh': 475, 'Đoạn văn': 476, 'Đua xe Công thức': 477, 'Đào tạo': 478, 'Đám cưới': 479, 'Đánh bài': 480, 'Đánh giá học sinh': 481, 'Đánh giá sản phẩm': 482, 'Đánh giá tuyển dụng nhân viên': 483, 'Đánh giá điện ảnh': 484, 'Đô vật': 485, 'Đơn hàng': 486, 'Đơn hàng trực tuyến': 487, 'Đường sắt': 488, 'Đường đua': 489, 'Đại diện bầu cử': 490, 'Đại học': 494, 'Đầu tư': 495, 'Đặc điểm chung của sản phẩm': 496, 'Địa chỉ': 497, 'Địa cầu': 498, 'Địa lý': 499, 'Địa điểm': 500, 'Đối thoại': 501, 'Đồ uống có cồn': 502, 'Đội tuyển bóng đá': 503, 'Đội tuyển trường': 504, 'Động vật nuôi': 505, 'Ảnh núi': 506, 'Ấn phẩm': 507, 'Ẩm thực': 508, 'Ủy ban học thuật': 509, 'Ứng cử': 510, 'Ứng cử viên': 511}

In [40]:
# DF1['db_id_vn'] = DF1['db_id_vn'].apply(lambda x: ", ".join(str(mydict.get(item.strip(), -1)) for item in x.split(", ")))
# DF1

In [41]:
DF1 = DF1.drop_duplicates(subset=['question'], keep='first')
DF1

,db_id,db_id_vn,query,query_toks,query_toks_no_value,question,question_toks,sql
0,5,"Kiến trúc, Xây dựng, Công trình",select count ( * ) from kiến trúc sư where giớ...,"[select, count, (, *, ), from, kiến trúc sư, w...","[select, count, (, *, ), from, kiến trúc sư, w...",Có tất cả bao nhiêu kiến trúc sư nữ ?,"[Có, tất, cả, bao, nhiêu, kiến, trúc, sư, nữ, ?]","{'except': None, 'from': {'conds': [], 'table_..."
1,5,"Kiến trúc, Xây dựng, Công trình","select tên , quốc tịch , id from kiến trúc sư ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","Liệt kê tên , quốc tịch và id của tất cả các k...","[Liệt, kê, tên, ,, quốc, tịch, và, id, của, tấ...","{'except': None, 'from': {'conds': [], 'table_..."
2,5,"Kiến trúc, Xây dựng, Công trình","select max ( t1.chiều dài theo mét ) , t2.tên ...","[select, max, (, t1.chiều dài theo mét, ), ,, ...","[select, max, (, t1, ., chiều dài theo mét, ),...",Cho biết tên của người kiến trúc sư đã tạo ra ...,"[Cho, biết, tên, của, người, kiến, trúc, sư, đ...","{'except': None, 'from': {'conds': [[False, 2,..."
3,5,"Kiến trúc, Xây dựng, Công trình",select avg ( chiều dài theo feet ) from cầu,"[select, avg, (, chiều dài theo feet, ), from,...","[select, avg, (, chiều dài theo feet, ), from,...",Cho biết chiều dài trung bình tính theo feet c...,"[Cho, biết, chiều, dài, trung, bình, tính, the...","{'except': None, 'from': {'conds': [], 'table_..."
4,5,"Kiến trúc, Xây dựng, Công trình","select tên , năm xây dựng from nhà máy where l...","[select, tên, ,, năm xây dựng, from, nhà máy, ...","[select, tên, ,, năm xây dựng, from, nhà máy, ...",Cho biết tên và năm xây dựng của các nhà máy t...,"[Cho, biết, tên, và, năm, xây, dựng, của, các,...","{'except': None, 'from': {'conds': [], 'table_..."
...,...,...,...,...,...,...,...,...
9688,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select đội from lần bị loại where bị loại bởi ...,"[select, đội, from, lần bị loại, where, bị loạ...","[select, đội, from, lần bị loại, where, bị loạ...",Những đội có các đô vật bị loại bởi ' Orton ' ...,"[Những, đội, có, các, đô, vật, bị, loại, bởi, ...","{'except': None, 'from': {'conds': [], 'table_..."
9689,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Những đô vật đã bị loại đại diện cho tất cả ba...,"[Những, đô, vật, đã, bị, loại, đại, diện, cho,...","{'except': None, 'from': {'conds': [], 'table_..."
9690,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Có bao nhiêu đội khác nhau có thành viên là cá...,"[Có, bao, nhiêu, đội, khác, nhau, có, thành, v...","{'except': None, 'from': {'conds': [], 'table_..."
9691,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời gian from lần bị loại where bị loạ...,"[select, thời gian, from, lần bị loại, where, ...","[select, thời gian, from, lần bị loại, where, ...",Những đô vật đã bị loại bởi ' Punk ' hoặc ' Or...,"[Những, đô, vật, đã, bị, loại, bởi, ', Punk, '...","{'except': None, 'from': {'conds': [], 'table_..."
9692,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời gian from lần bị loại where bị loạ...,"[select, thời gian, from, lần bị loại, where, ...","[select, thời gian, from, lần bị loại, where, ...",Cho biết thời gian bị loại của các đô vật bị l...,"[Cho, biết, thời, điểm, bị, loại, của, các, đô...","{'except': None, 'from': {'conds': [], 'table_..."

In [42]:
import torch
print(torch.__version__)
print(torch.version.cuda)  
print(torch.backends.cudnn.enabled)

2.6.0+cu118
11.8
True

In [43]:
DF1

,db_id,db_id_vn,query,query_toks,query_toks_no_value,question,question_toks,sql
0,5,"Kiến trúc, Xây dựng, Công trình",select count ( * ) from kiến trúc sư where giớ...,"[select, count, (, *, ), from, kiến trúc sư, w...","[select, count, (, *, ), from, kiến trúc sư, w...",Có tất cả bao nhiêu kiến trúc sư nữ ?,"[Có, tất, cả, bao, nhiêu, kiến, trúc, sư, nữ, ?]","{'except': None, 'from': {'conds': [], 'table_..."
1,5,"Kiến trúc, Xây dựng, Công trình","select tên , quốc tịch , id from kiến trúc sư ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","Liệt kê tên , quốc tịch và id của tất cả các k...","[Liệt, kê, tên, ,, quốc, tịch, và, id, của, tấ...","{'except': None, 'from': {'conds': [], 'table_..."
2,5,"Kiến trúc, Xây dựng, Công trình","select max ( t1.chiều dài theo mét ) , t2.tên ...","[select, max, (, t1.chiều dài theo mét, ), ,, ...","[select, max, (, t1, ., chiều dài theo mét, ),...",Cho biết tên của người kiến trúc sư đã tạo ra ...,"[Cho, biết, tên, của, người, kiến, trúc, sư, đ...","{'except': None, 'from': {'conds': [[False, 2,..."
3,5,"Kiến trúc, Xây dựng, Công trình",select avg ( chiều dài theo feet ) from cầu,"[select, avg, (, chiều dài theo feet, ), from,...","[select, avg, (, chiều dài theo feet, ), from,...",Cho biết chiều dài trung bình tính theo feet c...,"[Cho, biết, chiều, dài, trung, bình, tính, the...","{'except': None, 'from': {'conds': [], 'table_..."
4,5,"Kiến trúc, Xây dựng, Công trình","select tên , năm xây dựng from nhà máy where l...","[select, tên, ,, năm xây dựng, from, nhà máy, ...","[select, tên, ,, năm xây dựng, from, nhà máy, ...",Cho biết tên và năm xây dựng của các nhà máy t...,"[Cho, biết, tên, và, năm, xây, dựng, của, các,...","{'except': None, 'from': {'conds': [], 'table_..."
...,...,...,...,...,...,...,...,...
9688,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select đội from lần bị loại where bị loại bởi ...,"[select, đội, from, lần bị loại, where, bị loạ...","[select, đội, from, lần bị loại, where, bị loạ...",Những đội có các đô vật bị loại bởi ' Orton ' ...,"[Những, đội, có, các, đô, vật, bị, loại, bởi, ...","{'except': None, 'from': {'conds': [], 'table_..."
9689,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Những đô vật đã bị loại đại diện cho tất cả ba...,"[Những, đô, vật, đã, bị, loại, đại, diện, cho,...","{'except': None, 'from': {'conds': [], 'table_..."
9690,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Có bao nhiêu đội khác nhau có thành viên là cá...,"[Có, bao, nhiêu, đội, khác, nhau, có, thành, v...","{'except': None, 'from': {'conds': [], 'table_..."
9691,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời gian from lần bị loại where bị loạ...,"[select, thời gian, from, lần bị loại, where, ...","[select, thời gian, from, lần bị loại, where, ...",Những đô vật đã bị loại bởi ' Punk ' hoặc ' Or...,"[Những, đô, vật, đã, bị, loại, bởi, ', Punk, '...","{'except': None, 'from': {'conds': [], 'table_..."
9692,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời gian from lần bị loại where bị loạ...,"[select, thời gian, from, lần bị loại, where, ...","[select, thời gian, from, lần bị loại, where, ...",Cho biết thời gian bị loại của các đô vật bị l...,"[Cho, biết, thời, điểm, bị, loại, của, các, đô...","{'except': None, 'from': {'conds': [], 'table_..."

Cho biết tên và năm xây dựng của các nhà máy thuộc loại ' Grondzeiler ' ?
Đếm số lượng các giáo sư đã từng dạy lớp học có mã là ' ACCT-211 ' .
Hiển thị những đoạn văn bản được viết trên các đánh giá có điểm xếp hạng là 2.5 .

In [44]:
DF1.insert(column= 'question_E', loc= 6, value=np.nan)
DF1

,db_id,db_id_vn,query,query_toks,query_toks_no_value,question,question_E,question_toks,sql
0,5,"Kiến trúc, Xây dựng, Công trình",select count ( * ) from kiến trúc sư where giớ...,"[select, count, (, *, ), from, kiến trúc sư, w...","[select, count, (, *, ), from, kiến trúc sư, w...",Có tất cả bao nhiêu kiến trúc sư nữ ?,NaN,"[Có, tất, cả, bao, nhiêu, kiến, trúc, sư, nữ, ?]","{'except': None, 'from': {'conds': [], 'table_..."
1,5,"Kiến trúc, Xây dựng, Công trình","select tên , quốc tịch , id from kiến trúc sư ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","[select, tên, ,, quốc tịch, ,, id, from, kiến ...","Liệt kê tên , quốc tịch và id của tất cả các k...",NaN,"[Liệt, kê, tên, ,, quốc, tịch, và, id, của, tấ...","{'except': None, 'from': {'conds': [], 'table_..."
2,5,"Kiến trúc, Xây dựng, Công trình","select max ( t1.chiều dài theo mét ) , t2.tên ...","[select, max, (, t1.chiều dài theo mét, ), ,, ...","[select, max, (, t1, ., chiều dài theo mét, ),...",Cho biết tên của người kiến trúc sư đã tạo ra ...,NaN,"[Cho, biết, tên, của, người, kiến, trúc, sư, đ...","{'except': None, 'from': {'conds': [[False, 2,..."
3,5,"Kiến trúc, Xây dựng, Công trình",select avg ( chiều dài theo feet ) from cầu,"[select, avg, (, chiều dài theo feet, ), from,...","[select, avg, (, chiều dài theo feet, ), from,...",Cho biết chiều dài trung bình tính theo feet c...,NaN,"[Cho, biết, chiều, dài, trung, bình, tính, the...","{'except': None, 'from': {'conds': [], 'table_..."
4,5,"Kiến trúc, Xây dựng, Công trình","select tên , năm xây dựng from nhà máy where l...","[select, tên, ,, năm xây dựng, from, nhà máy, ...","[select, tên, ,, năm xây dựng, from, nhà máy, ...",Cho biết tên và năm xây dựng của các nhà máy t...,NaN,"[Cho, biết, tên, và, năm, xây, dựng, của, các,...","{'except': None, 'from': {'conds': [], 'table_..."
...,...,...,...,...,...,...,...,...,...
9688,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select đội from lần bị loại where bị loại bởi ...,"[select, đội, from, lần bị loại, where, bị loạ...","[select, đội, from, lần bị loại, where, bị loạ...",Những đội có các đô vật bị loại bởi ' Orton ' ...,NaN,"[Những, đội, có, các, đô, vật, bị, loại, bởi, ...","{'except': None, 'from': {'conds': [], 'table_..."
9689,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Những đô vật đã bị loại đại diện cho tất cả ba...,NaN,"[Những, đô, vật, đã, bị, loại, đại, diện, cho,...","{'except': None, 'from': {'conds': [], 'table_..."
9690,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select count ( distinct đội ) from lần bị loại,"[select, count, (, distinct, đội, ), from, lần...","[select, count, (, distinct, đội, ), from, lần...",Có bao nhiêu đội khác nhau có thành viên là cá...,NaN,"[Có, bao, nhiêu, đội, khác, nhau, có, thành, v...","{'except': None, 'from': {'conds': [], 'table_..."
9691,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời gian from lần bị loại where bị loạ...,"[select, thời gian, from, lần bị loại, where, ...","[select, thời gian, from, lần bị loại, where, ...",Những đô vật đã bị loại bởi ' Punk ' hoặc ' Or...,NaN,"[Những, đô, vật, đã, bị, loại, bởi, ', Punk, '...","{'except': None, 'from': {'conds': [], 'table_..."
9692,163,"Đô vật, Vận động viên đấu vật, Thể thao đối kháng",select thời gian from lần bị loại where bị loạ...,"[select, thời gian, from, lần bị loại, where, ...","[select, thời gian, from, lần bị loại, where, ...",Cho biết thời gian bị loại của các đô vật bị l...,NaN,"[Cho, biết, thời, điểm, bị, loại, của, các, đô...","{'except': None, 'from': {'conds': [], 'table_..."

In [45]:
import pandas as pd
from deep_translator import GoogleTranslator

translator = GoogleTranslator(source='vi', target='en')

def translate_text(text):
    try:
        return translator.translate(text)
    except Exception as e:
        print(f"Lỗi khi dịch: {text} -> {e}")
        return text  

# DF1["question_E"] = DF1["question"].astype(str).apply(translate_text)

In [46]:
DFSQL1 = DFSQL1.rename(columns={'question': 'question_E'})
DFSQL2 = DFSQL2.rename(columns={'text_query': 'question_E'})
DFSQL2 = DFSQL2.rename(columns={'sql_command': 'query'})

In [47]:
# DFSQL1.insert(column= 'question_VN', loc= 2, value=np.nan)


import pandas as pd
from deep_translator import GoogleTranslator

translator = GoogleTranslator(source='en', target='vi')

def translate_text(text):
    try:
        return translator.translate(text)
    except Exception as e:
        print(f"Lỗi khi dịch: {text} -> {e}")
        return text  

# DFSQL1["question_VN"] = DFSQL1["question_E"].astype(str).apply(translate_text)

In [48]:
DFSQL2.insert(column= 'question_VN', loc= 2, value=np.nan)


import pandas as pd
from deep_translator import GoogleTranslator

translator = GoogleTranslator(source='en', target='vi')

def translate_text(text):
    try:
        return translator.translate(text)
    except Exception as e:
        print(f"Lỗi khi dịch: {text} -> {e}")
        return text  

# DFSQL2["question_VN"] = DFSQL2["question_E"].astype(str).apply(translate_text)

In [49]:
DFT1 = pd.read_csv(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\Datasets Train\DF1.csv")
DFT2 = pd.read_csv(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\Datasets Train\DFSQL1.csv")
DFT3 = pd.read_csv(r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\Datasets Train\DFSQL2.csv")

DFT1 = DFT1.rename(columns={'question': 'question_VN'})

DFT1 = DFT1[['question_E', 'question_VN', 'query']]
DFT2 = DFT2[['question_E', 'question_VN', 'query']]
DFT3 = DFT3[['question_E', 'question_VN', 'query']]

DF_train = pd.concat([DFT1, DFT2, DFT3], axis=0)
DF_train

,question_E,question_VN,query
0,How many female architects are there?,Có tất cả bao nhiêu kiến trúc sư nữ ?,select count ( * ) from kiến trúc sư where giớ...
1,"List the names, nationality and IDs of all mal...","Liệt kê tên , quốc tịch và id của tất cả các k...","select tên , quốc tịch , id from kiến trúc sư ..."
2,Indicates the name of the architect has create...,Cho biết tên của người kiến trúc sư đã tạo ra ...,"select max ( t1.chiều dài theo mét ) , t2.tên ..."
3,Indicates the average length calculated by fee...,Cho biết chiều dài trung bình tính theo feet c...,select avg ( chiều dài theo feet ) from cầu
4,What is the name and year of construction of f...,Cho biết tên và năm xây dựng của các nhà máy t...,"select tên , năm xây dựng from nhà máy where l..."
...,...,...,...
8029,What are the citizenships that are shared by s...,Các công dân được chia sẻ bởi các ca sĩ với mộ...,SELECT Citizenship FROM singer WHERE Birth_Yea...
8030,How many available features are there in total?,Tổng cộng có bao nhiêu tính năng có sẵn?,SELECT count(*) FROM Other_Available_Features
8031,What is the feature type name of feature AirCon?,Tên loại tính năng của tính năng AirCon là gì?,SELECT T2.feature_type_name FROM Other_Availab...
8032,Show the property type descriptions of propert...,Hiển thị các mô tả loại thuộc tính của các thu...,SELECT T2.property_type_description FROM Prope...
8033,What are the names of properties that are eith...,Tên của các tài sản là nhà ở hoặc căn hộ có hơ...,SELECT property_name FROM Properties WHERE pro...

In [50]:
data = [
    {"input": f"{q}", "output": sql} 
    for q, sql in zip(DF_train["question_E"], DF_train["query"])
]
dataset = Dataset.from_pandas(pd.DataFrame(data))
model_name = "t5-small"
tokenizer = T5Tokenizer.from_pretrained(model_name)
model = T5ForConditionalGeneration.from_pretrained(model_name)
def preprocess_function(examples):
    inputs = tokenizer(examples["input"], padding="max_length", truncation=True, max_length=512)
    outputs = tokenizer(examples["output"], padding="max_length", truncation=True, max_length=512)
    inputs["labels"] = outputs["input_ids"]
    return inputs

tokenized_dataset = dataset.map(preprocess_function, batched=True)
train_test_split = tokenized_dataset.train_test_split(test_size=0.1)
train_dataset = train_test_split["train"]
test_dataset = train_test_split["test"]
training_args = TrainingArguments(
    output_dir="./t5_sql_model",
    evaluation_strategy="epoch",
    save_strategy="epoch",
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    learning_rate=5e-5,                 
    num_train_epochs=10,  
    weight_decay=0.01,
    logging_dir="./logs",
    logging_steps=10,
    save_total_limit=2,
)
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_dataset,
    eval_dataset=test_dataset,
    tokenizer=tokenizer,
)
# trainer.train()

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

Map:   0%|          | 0/83014 [00:00<?, ? examples/s]

c:\Users\minhv\anaconda3\envs\pytorch-env\lib\site-packages\transformers\training_args.py:1594: FutureWarning: `evaluation_strategy` is deprecated and will be removed in version 4.46 of 🤗 Transformers. Use `eval_strategy` instead
  warnings.warn(
C:\Users\minhv\AppData\Local\Temp\ipykernel_24060\630767392.py:32: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(

In [51]:
# def generate_sql_debug(question):
#     input_text = f"{question}"
#     inputs = tokenizer(input_text, return_tensors="pt", truncation=True, max_length=512)
#     inputs = {key: val.to(device) for key, val in inputs.items()}
#     print("Input tokens:", inputs["input_ids"])
#     outputs = model.generate(**inputs)
#     print("Output tokens:", outputs)
#     return tokenizer.decode(outputs[0], skip_special_tokens=True)

# device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
# model.to(device)

# test_question ="Cho biết tên của các khoa hiện đang làm việc ở tòa nhà 'Mergenthaler'?"
# print(generate_sql_debug(test_question))

In [52]:
import re

question = "Có bao nhiêu công ty tất cả ?"

question = re.sub(r"'", r" ' ", question) 
question = re.sub(r"\(", r"( ", question)  
question = re.sub(r"\)", r" )", question) 
question = re.sub(r"([?!])", r" \1", question)  
question = re.sub(r"(?<=[A-Za-z])\s*,\s*", " , ", question) 
question = re.sub(r"(?<=[^0-9])\s*,\s*", " , ", question) 
question = re.sub(r"(?<=[A-Za-z])\s*\.\s*", " . ", question) 
question = re.sub(r"(?<=[^0-9])\s*\.\s*", " . ", question)  
question = re.sub(r"(?<=\d),(?=\d)", ",", question)  
question = re.sub(r"(?<=\d)\.(?=\d)", ".", question)  
question = re.sub(r"\s+", " ", question).strip()

print(question)
if question in DF_train['question_E'].values:  
    query_result = DF_train.loc[DF_train['question_E'] == question, 'query'].values[0]
    print(query_result)
elif question in DF_train['question_VN'].values:
    query_result = DF_train.loc[DF_train['question_VN'] == question, 'query'].values[0]
    print(query_result)

Có bao nhiêu công ty tất cả ?
select count ( * ) from công ty

In [53]:
# from transformers import AutoTokenizer, AutoModel

# model_name = "t5-small"
# tokenizer = AutoTokenizer.from_pretrained(model_name)
# model = AutoModel.from_pretrained(model_name)

# # Lưu mô hình vào thư mục local
# model.save_pretrained("./t5-small")
# tokenizer.save_pretrained("./t5-small")

In [54]:
# import torch
# from transformers import T5Tokenizer, T5ForConditionalGeneration

# # Load model & tokenizer
# MODEL_PATH = "./t5_sql_model"  # Chỉnh sửa để trỏ đến checkpoint tốt nhất
# tokenizer = T5Tokenizer.from_pretrained(MODEL_PATH)
# model = T5ForConditionalGeneration.from_pretrained(MODEL_PATH)

# # Chuyển model sang GPU (nếu có)
# device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
# model.to(device)
# model.eval()  # Đưa về chế độ inference, giúp tăng tốc độ

# def generate_sql_debug(question):
#     """Chuyển đổi câu hỏi ngôn ngữ tự nhiên sang SQL."""
#     inputs = tokenizer(question, return_tensors="pt", truncation=True, max_length=256).to(device)

#     with torch.no_grad():  # Tắt gradient để tiết kiệm RAM
#         with torch.cuda.amp.autocast():  # Dùng float16 trên GPU nếu có
#             outputs = model.generate(**inputs, max_length=256)  # Giới hạn output tránh sinh quá dài

#     return tokenizer.decode(outputs[0], skip_special_tokens=True)


# def generate_sql_debug(question):
#     input_text = f"{question}"
#     inputs = tokenizer(input_text, return_tensors="pt", truncation=True, max_length=512)
#     inputs = {key: val.to(device) for key, val in inputs.items()}
#     print("Input tokens:", inputs["input_ids"])
#     outputs = model.generate(**inputs)
#     print("Output tokens:", outputs)
#     return tokenizer.decode(outputs[0], skip_special_tokens=True)


# # Test
# test_question = "Cho biết tên của các khoa hiện đang làm việc ở tòa nhà 'Mergenthaler'?"
# print(generate_sql_debug(test_question))

In [57]:
from transformers import T5Tokenizer, T5ForConditionalGeneration

def nl2sql(question, model_path=r"E:\Project_MachineLearning_NguyenMinhVu\Source\Basic-text-to-SQL-conversion\Python\t5_sql_model\checkpoint-28017"):
    """
    Chuyển đổi câu hỏi tự nhiên thành câu lệnh SQL bằng mô hình đã huấn luyện.

    Args:
        question (str): Câu hỏi tự nhiên.
        model_path (str): Đường dẫn đến mô hình đã train.

    Returns:
        str: Câu lệnh SQL tương ứng.
    """
    # Load tokenizer và mô hình
    tokenizer = T5Tokenizer.from_pretrained(model_path)
    model = T5ForConditionalGeneration.from_pretrained(model_path)

    # Tokenize câu hỏi đầu vào
    inputs = tokenizer(question, return_tensors="pt", padding=True, truncation=True, max_length=512)

    # Tạo câu lệnh SQL dự đoán
    outputs = model.generate(**inputs, max_length=512)
    sql_query = tokenizer.decode(outputs[0], skip_special_tokens=True)

    return sql_query

# Ví dụ sử dụng
question = "Hiển thị tất cả các địa điểm nơi có một quán ăn đã được mở vào năm 2000 và năm 2010 ."
sql_result = nl2sql(question)
print("SQL Query:", sql_result)

SQL Query: select a im from quán ăn where năm  2000 and năm  2010